@import url("https://fonts.googleapis.com/css?family=Questrial");
/* html {
  min-height: 100%;
  display: grid;
}

body {
  background: linear-gradient(to bottom left, #C0CFB2 10%, #8BA989 80%);
  display: grid;
  overflow: hidden;
} */

.next a{
  color:#fff!important;
}

.next a:hover{
  color:#2e9afe!important;
}

#player1 {
  background: black;
  position: relative;
  margin: auto;
  width: 100%;
  height: 350px;
  overflow: hidden;
  border-radius: 5px 5px 0px 0px;
  /*box-shadow: 5px 5px 15px rgba(54, 79, 60, 0.4);*/
  -webkit-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
}
.list1{
  color:#000;
  border:#dbdbdb solid 1px;
  max-height: 180px;
  overflow-y: auto!important;
}
.active1{
  background-color: #e3faf6;
}
.song1:hover{
  background-color: #e3faf6;
}
.list1 a{
  color:#000;
  text-decoration: none;
}
.list1 a:hover{
  color:;
  color: #2e9afe;
  cursor: pointer;
}
.singername{
  color:#999999 ;
  font-size:12px;
}
.list1::-webkit-scrollbar-track
{
  /*-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);*/
  background-color: #fff;
}

.list1::-webkit-scrollbar
{
  width: 7px;
  background-color: #fff;
}

.list1::-webkit-scrollbar-thumb
{
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
  background-color: rgb(141, 139, 139);
}
.song1{
  line-height: 36px;
  height: 36px;
  border:#ececec solid 1px;
}
#image{
  margin-top: 10px;
  margin-left:25px;
  padding:0px;
}
.album1{
  background: black;
  width: 100%;
  height: 100%;
  border-radius: 5px;
  position: absolute;
}

.heart {
  position: absolute;
  right: 0;
  color: #FFFFFF;
  margin: 10px;
  transition: all .4s ease;
}

.clicked {
  color: #2e9afe;
  transform: scale(1.2);
  transition: all .4s ease;
}

.info1 {
  height: 150px;
  width: 100%;
  position: absolute;
  bottom: 0;
  background: black;
  transform: translateY(35px);
  transition: all .5s ease-in-out;
}


.up {
  transform: translateY(0px);
}

.progress-bar {
  height: 6px!important;
  width: 80%!important;
  margin-left: 10%;
  margin-top:30px;
  background: #5E5E5E;
  border-radius: 10px;
  font-family: "Questrial", sans-serif;
}

.volume1 {
  /* position: absolute;
  left: 24px;
  margin: 0 auto; */
  height: 5px;
  width: 100px;
  background: #5e5e5e;
  border-radius: 15px;
}
.volume1:hover{
  cursor: pointer;
}
.volume1 .ui-slider-range-min {
  height: 5px;
  width: 100px;
  /* position: absolute; */
  background: #2e9afe;
  border: none;
  border-radius: 10px;
  outline: none;
}
.volume1 .ui-slider-handle {

  width: 20px;
  height: 20px;
  border-radius: 20px;
  background: #2e9afe;
  /* position: absolute;
  margin-left: -8px;
  margin-top: -8px; */
  cursor: pointer;
  outline: none;
}

.fill {
  background-color: #5e5e5e;
  width: 100%;
  height: 0.3rem;
  border-radius: 2px;
}
.fill:hover{
  cursor: pointer;
}

.fill .ui-slider-range-min {
  height: 0.3rem;
  width: 100%;
   /*position: absolute; */
  background: #2e9afe;
  border: none;
  border-radius: 10px;
  outline: none;
}
.fill .ui-slider-handle {
  display: none;
  width: 20px;
  height: 20px;
  border-radius: 20px;
  background: black;
   /*position: absolute;*/
 /* margin-left: -8px;
  margin-top: -8px; */
  cursor: pointer;
  outline: none;
}

.time--current, .time--total {
  color: #fff;
  font-size: 10px;
  position: absolute;
  margin-top: -2px;
}

.time--current {
  top:26px;
  left: 25px;
}

.time--total {
  top:26px;
  right: 25px;
}

.currently-playing {
  text-align: center;
  margin-top: 50px;
}

.song-name, .artist-name {
  font-family: "Questrial", sans-serif;
  text-transform: uppercase;
  margin: 0;
}
.control1{
  float: right;
  color:#909090;
}
.control1 a{
  color:#909090;
}
.play1{
  position: relative;
  right:45px;
}
.download1{
  position: relative;
  right:25px;
}
.add1{
  position: relative;
  right:5px;
}
.song-name {
  font-size: .8em;
  letter-spacing: 3px;
  color: #fff;
}

.artist-name {
  font-size: .6em;
  letter-spacing: 1.5px;
  color: #fff;
  margin-top: 5px;
}

.controls {
  margin-left:100px;
  display: flex;
  align-items: center;
  font-size: 1em;
  justify-content: center;
  color: #fff;
}
.controls .play, .controls .pause {
  margin: 15px 25px;
  color: #fff;
}
.controls .option {
  left: 10px;
  position: absolute;
  font-size: 1em;
}
.controls .add {
  margin-left: 30px;
  font-size: 1em;
}
.controls .repeat {
/*  margin-right: 20px;*/
  font-size: 1em;
}

.controls .shuffle {
  margin-right: 25px;
  font-size: 1em;
}

.controls .down1{
  margin-left: 30px;
  font-size: 1em;
}

.controls .down1 a{
  color:#fff;
}
.controls .down1 a:visited{
  color:#fff;
}
.controls .down1 a:link{
  color:#fff;
}
.controls .down1 a:active{
  color:#fff;
}
.controls .volume {
  margin-left: 30px;
  font-size: 1em;
}

.play, .pause, .next, .previous, .option, .add, .volume, .repeat, .shuffle .down1 {
  transition: all .5s ease;
}
.play:hover, .play1:hover, .add1:hover, .down1 a:hover,.repeat:hover, #volume1:hover, .pause:hover, .next:hover, .previous:hover, .option:hover, .add:hover, .volume:hover, .shuffle:hover {
  color: #2e9afe;
  cursor: pointer;
}


