/*
Author: W3layout
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
*/
.aaa a{
  text-decoration: none;
  color:#000;
}

.aaa a:hover{
  text-decoration: none;
  color:#2e9afe;
}

.add1 {
  text-decoration: none;
}

.add1:hover{
  color:#2e9afe!important;
  cursor: pointer!important;
}

.result2 a{
  text-decoration: none;
  display: block;
  color:#000;
}

.result2 a:hover{
  color:#2e9afe;
  cursor: pointer;
}

.result3 a{
  text-decoration: none!important;
  display: inline!important;
  color:#000!important;
  font-size:0.8em;
}

.result3 a:hover{
  color:#2e9afe!important;
  cursor: pointer!important;
}

.user {
  background-color: #FDE2CA;
  border-radius: 20px;
  -moz-box-shadow: 3px 3px #666;
  -webkit-box-shadow: 3px 3px #666;
  box-shadow: 7px 7px #666;

}
.user .info {
  margin-left: 20px;
  margin-top: 20px;

}
.avatar img {
  height: 150px;
  width:150px;
  margin-left:40%;
}
.frame1{
  background-color: #99CCFF;
  padding:20px;
  border-radius: 20px;
  box-shadow: 10px 10px 10px #666;
}
.lyric{
  margin-top:50px;
  padding:5px;
  background-color: #fff;
  border:1px dotted ;
  border-radius: 5px;
}
.titlemucsic{
  color: #511F90;
  font-weight: bold;
}
h4, h5, h6,
h1, h2, h3 {margin-top: 0;}
ul, ol {margin: 0;}
p {margin: 0;}

html, body{
  font-family: 'Lato-Regular';
    font-size: 100%;
  	overflow-x: hidden;
	background: #f9f9f9;
}
@font-face {
   font-family: 'MavenPro-Regular';
   src: url(../fonts/MavenPro-Regular.ttf)format('truetype');
}
@font-face {
   font-family: 'Lato-Regular';
   src: url(../fonts/Lato-Regular.ttf)format('truetype');
}
body a{
	transition:0.5s all;
	-webkit-transition:0.5s all;
	-moz-transition:0.5s all;
	-o-transition:0.5s all;
	-ms-transition:0.5s all;
}
a:focus, a:active, a:hover {
    outline: none;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
    color: #111;
}
a {
    background-color:none;
}
body p{
   font-family: 'Lato-Regular';
}
h1, h2, h3, h4, h5 {
      font-family: 'MavenPro-Regular';
}
/*Header Stats Start*/
.header_stats{
	text-align: center;
}
/*-- w3layouts --*/
/*-- agileits --*/
.header_stats h3{
	font-size: 12px;
	font-weight: 600;
}
.header_stats p{
	font-size: 12px;
}
.header_stats .stat-num{
	font-size: 26px;
	color: #111;
	font-weight: bold;
	padding: 8px 0;
}
.header_stats .stat-highlight{
	color: #ef4836;
	font-weight: bold;
}
.header_stats .stat-highlight-red{
	color: #ef4836;
	font-weight: bold;
}
.header_stats .stat-highlight-green{
	color: #26a65b;
	font-weight: bold;
}
.nofitications-dropdown li .dropdown-menu:before,.drp-mnu:before {
    position: absolute;
    top:-8.5px;
    left: 5px;
    display: inline-block;
    border-right: 8px solid transparent;
    border-bottom: 8px solid #DFDFDF;
    border-left: 8px solid transparent;
    content: '';
}
/*---------------------------------
            LEFT SIDE
----------------------------------*/

.left-side {
    width: 200px;
    position: absolute;
    top: 0;
    left: 0;
}
/*-- w3l --*/
/*-- agileits --*/
.sticky-left-side {
    position: fixed;
    height: 100%;
    overflow-y: auto;
    z-index: 100;
	background: #111;
}

.sticky-left-side .custom-nav {
    margin-top:59px;
	background:#000;
}

.left-side-collapsed .sticky-left-side {
    overflow-y: visible;
}
.logo a {
    font-size: 0.9em;
    color: #fff;
    margin: 0;
    text-decoration: none;
    display: inline-block;
    text-transform: capitalize;
    font-weight: 700;
}
.logo a span{
	color:#111;
}
.logo-icon {
    display: none;
}
div#page-wrapper {
    padding:3em 2em;
}
.left-side-collapsed .logo-icon {
    height: 51px;
    margin-top: 0;
    display: block !important;
}
.logo-icon a{
	display:block;
	text-align:center;
	text-decoration: none;
}
.logo-icon a {
    font-size: 2em;
    color:#9E9E9E;
    margin-top: 9px;
	   font-family: 'MavenPro-Regular';
	font-weight:700;
}
/*-- w3layouts --*/
/*-- agileits --*/
.logo-icon a:hover{
	color:#fff;
}
.left-side-inner {
    padding: 0px;
    margin-bottom: 50px;
}

.left-side .searchform {
    display: none;
}

.left-side .searchform::after {
    content: '';
    display: block;
    clear: both;
}

.left-side .searchform input {
    padding: 10px;
    width:83%;
    margin: 0 0 15px 10px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    border: none;
}

.left-side .logged-user {
    padding: 0 0 15px 12px;
    margin: 0 0 10px 0;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    display: none;
}

.left-side .logged-user .media-object {
    width: 40px;
    height:40px;
    display:block;
    -moz-border-radius: 3em;
    -webkit-border-radius: 3em;
    border-radius: 3em;
    float: left;
}

.left-side .logged-user .media-body {
    margin-left: 60px;
    color: #d7d7d7;
}

.left-side .logged-user .media-body h4 {
    font-size: 15px;
    margin: 5px 0 0 0;
}
/*-- w3l --*/
/*-- agileits --*/
.left-side .logged-user .media-body h4 a {
    color: #fff;
}

.left-side .logged-user .media-body span {
    font-style: italic;
    font-size: 11px;
    opacity: 0.5;
}

.custom-nav {
    margin-bottom: 10px;
}

.custom-nav > li > a {
    color:#C8C8C8;
    padding: 12px 20px;
    border-radius: 0;
    -webkit-border-radius: 0;
}

.custom-nav > li > a:hover,
.custom-nav > li > a:active {
    color:#EA57A3;
	background-color:#292929;
    border-radius: 0;
    -webkit-border-radius: 0;
}
.custom-nav > li.menu-list > a:hover {
    background-color:#191919;
}

.custom-nav > li.nav-active > a {
    background-color:#111;
    color:#EA57A3;
}

.custom-nav > li.nav-active > ul{
    display: block;
}

.custom-nav > li.nav-active > a:hover {
    
}

.custom-nav > li.active > a,
.custom-nav > li.active > a:hover,
.custom-nav > li.active > a:focus {
    background-color: #111;
    color:#EA57A3;
}

ul.dropdown-menu.drp-mnu li {
    width: 100%;
}

.custom-nav > li.menu-list.active > a {
    background-image: url(../images/plus.png);
}

.custom-nav > li.nav-active.active > a {
    background-image: url(../images/minus.png);
}

.custom-nav > li.nav-active.active > a:hover {
    background-image: url(../images/minus.png);
}

.custom-nav li .fa {
    font-size: 16px;
    vertical-align: middle;
    width: 16px;
    text-align: center;
}

.custom-nav .sub-menu-list {
    list-style: none;
    display: none;
    margin: 0;
    padding: 0;
    background: #111;
}

.custom-nav .sub-menu-list > li > a {
    color: #fff;
    font-size: 13px;
    display: block;
    padding: 10px 5px 10px 50px;
    -moz-transition: all 0.2s ease-out 0s;
    -webkit-transition: all 0.2s ease-out 0s;
    transition: all 0.2s ease-out 0s;
}

.custom-nav .sub-menu-list > li > a:hover,
.custom-nav .sub-menu-list > li > a:active,
.custom-nav .sub-menu-list > li > a:focus {
    text-decoration: none;
    color:#fff;
    background:#45B39D;
}
.profile_img i {
	float: right;
    margin: .5em 0 0;
    color:#00BCD4;
}
.custom-nav .sub-menu-list > li .fa {
    font-size: 12px;
    opacity: 0.5;
    margin-right: 5px;
    text-align: left;
    width: auto;
    vertical-align: baseline;
}

.custom-nav .sub-menu-list > li.active > a {
    color: #65CEA7;
    background-color: #2A323F;
}

.custom-nav .sub-menu-list ul {
    margin-left: 12px;
    border: 0;
}

.custom-nav .menu-list.active ul {
    display: block;
}
.nav>li>a {
	position: relative;
	display: block;
	padding: 17px 15px;
}
.nav>li {
position: relative;
display: block;
}
.nav-stacked>li+li {
	margin-top: 1px;
	margin-left: 0;
}
ul.nav.nav-pills.nav-stacked.custom-nav li a img {
    vertical-align: baseline;
}
i.camera {
    width:16px;
    height:16px;
    background:url(../images/radio.png) no-repeat 0px 0px;
    display: inline-block;
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
    -ms-transition: 0.5s all;
}
ul.nav.nav-pills.nav-stacked.custom-nav li:hover i.camera {
    background:url(../images/radio1.png) no-repeat 0px 0px;
}
@media (max-width:767px){
	.hidden-xs{display:none!important}
	.visible-xs {
		display: none !important;
	}
}
@media (min-width:768px) and (max-width:991px){
	.hidden-sm{display:none!important}
}
@media (min-width:992px) and (max-width:1199px){
	.hidden-md{display:none!important}
}
@media (min-width:1200px){
	.hidden-lg{display:none!important}
}
/*------------------------------------------
            LEFT SIDE COLLAPSE
-------------------------------------------*/

.left-side-collapsed .logo {
    display: none;
}

.left-side-collapsed .header-section {
    margin-left: 0px;
}

.left-side-collapsed .left-side {
    width: 52px;
    top: 0px;
}

.left-side-collapsed .left-side-inner {
    padding: 0;
}

h5.left-nav-title {
    margin-left: 10px;
    color: #fff;
    margin-bottom:8px;
}

.left-side-collapsed .custom-nav {
        margin: 26px 0 20px 0;
}

.left-side-collapsed .custom-nav li a {
    text-align: center;
    padding: 10px;
    position: relative;
	
}

.left-side-collapsed .custom-nav > li.menu-list > a {
    background-image: none;
}

.left-side-collapsed .custom-nav li a span {
    position: absolute;
    background:#EA57A3;
    padding: 11.7px;
    left: 52px;
    top: 1px;
    min-width: 160px;
    text-align: left;
    z-index: 100;
    display: none;
	font-size:14px;
}

.left-side-collapsed .custom-nav li a span:after {
    right: 100%;
    top: 50%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-color: rgba(0, 0, 0, 0);
    border-right-color:#EA57A3;
    border-width: 6px;
    margin-top: -6px;
}
/*-- w3layouts --*/
/*-- agileits --*/
.left-side-collapsed .custom-nav li.active a span {
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    border-radius: 0;
}

.left-side-collapsed .custom-nav ul,
.left-side-collapsed .custom-nav .menu-list.nav-active ul {
    display: none;
}

.left-side-collapsed .custom-nav .menu-list.nav-hover ul {
    display: block;
}

.left-side-collapsed .custom-nav > li.nav-hover > a,
.left-side-collapsed .custom-nav > li.nav-hover.active > a {
    background:#111;
    color:#EA57A3;
}

.left-side-collapsed .custom-nav li.nav-hover a span {
    display: block;
    color: #fff;
}

.left-side-collapsed .custom-nav li.nav-hover.active a span {
    background:#EA57A3;
    color: #fff;
}

.left-side-collapsed .custom-nav li.nav-hover ul {
    display: block;
    position: absolute;
    top: 44px;
    left: 52px;
    margin: 0;
    min-width: 160px;
    background:#45B39D;
    z-index: 100;
    -moz-border-radius: 0 0 2px 0;
    -webkit-border-radius: 0 0 2px 0;
    border-radius: 0 0 2px 0;
}

.left-side-collapsed .custom-nav ul a {
    text-align: left;
    padding: 6px 10px;
    padding-left: 10px;
}

.left-side-collapsed .custom-nav ul a:hover {
      background: #28947E;
}

.left-side-collapsed .custom-nav li a i {
    margin-right: 0;
	font-size: 1.2em;
}
ul.nav li a span {
    padding-left: .5em;
}

.left-side-collapsed .main-content {
    margin-left: 52px;
    background-color: #fff;
}


.left-side-collapsed .left-side{
    overflow: visible !important;
}

/*----------------------------
        HEADER SECTION
-----------------------------*/

.header-section {
    background:linear-gradient(to right, #2f82ed 0%, #00afef 100%);
    box-shadow: 1px 0 3px rgba(0,0,0,.15);
    -webkit-box-shadow: 1px 0 3px rgba(0,0,0,.15);
    -moz-box-shadow: 1px 0 3px rgba(0,0,0,.15);
    -o-box-shadow: 1px 0 3px rgba(0,0,0,.15);
	padding-bottom:2px;
}

.header-section::after {
    clear: both;
    display: block;
    content: '';
}

.toggle-btn {
    font-size: 17px;
    padding: 9px 0 0;
    width: 40px;
    height: 42px;
    margin: 0.75em 0 0 2em;
    text-align: center;
    cursor: pointer;
    float: left;
    color: #fff;
    background: #111;
    border: none;
    border-radius: 5px;
    -moz-transition: all 0.2s ease-out 0s;
    -webkit-transition: all 0.2s ease-out 0s;
    transition: all 0.2s ease-out 0s;
}

.toggle-btn:hover {
    background:#EA57A3;
    color: #fff;
}

.searchform input {
    box-shadow: none;
    float: left;
    font-size: 14px;
    margin:8px 0 0 10px;
    padding:7px 10px;
    width: 220px;
    outline:none;
    border:1px solid #eee;
    border-radius:4px;
    -webkit-border-radius:4px;
    -moz-border-radius:4px;
    -o-border-radius:4px;
}
.searchform input:focus {
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    border-color: #ddd;
}
.logo-co{
	float:left;
	padding:7px 15px 6px;
}
.logo-co a {
	display:block;
}
/* ------------------------------
        STICKY HEADER
---------------------------------*/
.sticky-header .logo {
  position: fixed;
    top: 0;
    left: 0;
    width: 200px;
    z-index: 100;
    background: #EA57A3;
    border-bottom: 1px solid #5F45BB;
    text-align: center;
        padding: 1.1em 0 1.2em;
}
.logo h1 {
    margin-bottom: 0;
	line-height: 25px;
}
.sticky-header .header-section {
    position: fixed;
    top: 0;
    left: 200px;
    width: 100%;
    z-index: 100;
}

.sticky-header .main-content {
    padding-top: 50px;
}
.sticky-header .menu-right {
    margin-right: 0;
}
.sticky-header.left-side-collapsed .header-section {
    left: 52px;
}
.sticky-header.left-side-collapsed .menu-right {
    margin-right: 0;
}
.menu-right {
}
/*-----------------------------
        MAIN CONTENT
------------------------------*/
.col-md-6.col_1_of_2.span_1_of_2 {
    margin-bottom: 0.6em;
}
.main-content {
    margin-left: 200px;
    background:#fff;
    min-height: 1000px;
}
.main-content2{
	min-height: 1250px !important;
}
.main-content5{
	min-height: 1030px !important;
}
.main-content6{
	min-height: 1700px !important;
}
.main-content3{
	min-height:2580px !important;
}
.main-content4{
	min-height: 2275px !important;
}
/*----*/
.search-box{
	float:left;
}
/*----*/
.sb-search {
   position: absolute;
  right:90px;
  width: 0%;
  min-width:70px;
  height:65px;
  float: right;
  overflow: hidden;
  -webkit-transition: width 0.3s;
  -moz-transition: width 0.3s;
  transition: width 0.3s;
  -webkit-backface-visibility: hidden;
  z-index: 999;
  border-left: 1px solid #000;
    top:0%;
}
.sb-search-input {
  position: absolute;
  top: 0;
  right: 3px;
  border: none;
  outline: none;
  background: #111;
  width: 100%;
  height:65px;
  margin: 0;
  z-index:10;
  padding: 0em 4em 0em 1em;
  font-size: 15px;
  font-weight: 400;
  color: #fff;
}
.sb-search-input::-webkit-input-placeholder {
	color: #fff;
}
.sb-search-input:-moz-placeholder {
	color: #fff;
}
.sb-search-input::-moz-placeholder {
	color: #fff;
}
.sb-search-input:-ms-input-placeholder {
	color:#fff;
}
.sb-icon-search,.sb-search-submit  {
	width:30px;
	height:40px;
	display: block;
	position: absolute;
	right: 1%;
	top: 0%;
	padding: 0;
	margin: 0;
	line-height:71px;
	text-align: center;
	cursor: pointer;
}
.sb-search-submit {
   background: url('../images/search.png') no-repeat -23px 20px;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)"; /* IE 8 */
    color: transparent;
	border: none;
	outline: none;
	z-index: -1;
	-webkit-appearance: none;
}
.sb-icon-search {
  background: #111 url('../images/search.png') no-repeat 23px 20px;
  z-index: 90;
     width:70px;
    height:65px;
}
/* Open state */
.sb-search.sb-search-open,.no-js .sb-search {
	width:75%;
}
.sb-search.sb-search-open .sb-icon-search,.no-js .sb-search .sb-icon-search {
	background: url('../images/search.png') no-repeat 23px 20px;
	color: #fff;
	z-index: 11;
}
.sb-search.sb-search-open .sb-search-submit,.no-js .sb-search .sb-search-submit {
	z-index: 90;
}
footer {
    background:#EA57A3;
    padding: 12px;
    width: 100%;
        border-top: 1px solid #423D3E;
    text-align:center;
    position: fixed;
    bottom: 0;
}
footer  p {
	color: #fff;
    font-size: 1em;
}
footer  p a{
	color:#111;
}
footer  p a:hover{
	text-decoration:underline;
}
.show-grid [class^=col-] {
  background: #fff;
  text-align: center;
  margin-bottom: 10px;
  line-height: 2em;
  border: 10px solid #f0f0f0;
}
.show-grid [class*="col-"]:hover {
  background: #e0e0e0;
}
.grid_3{
	margin-bottom:2em;
}
.xs h3, .widget_head{
	color:#000;
	font-size:1.7em;
	font-weight:300;
	margin-bottom: 1em;
}
.grid_3 p{
  color: #999;
  font-size: 0.85em;
  margin-bottom: 1em;
  font-weight: 300;
}
 /*--main-content--*/
.music-left{
 float:left;
 width:65%;
}
.music-right{
 float:left;
 width:33%;
 margin-left:2%;
}
/*--banner--*/
#slider2,
#slider3 {
  box-shadow: none;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  margin: 0 auto;
}
.rslides_tabs li:first-child {
  margin-left: 0;
}
.rslides_tabs .rslides_here a {
  background: rgba(255,255,255,.1);
  color: #fff;
  font-weight: bold;
}
.events {
  list-style: none;
}
.callbacks_container {
  position: relative;
  float: left;
  width: 100%;
}
.callbacks {
  position: relative;
  list-style: none;
  overflow: hidden;
  width: 100%;
  padding: 0;
  margin: 0;
}
.callbacks li {
  position: absolute;
  width: 100%;
}
.callbacks img {
  position: relative;
  z-index: 1;
  height: auto;
  border: 0;
}
.callbacks .caption {
	display: block;
	position: absolute;
	z-index: 2;
	font-size: 20px;
	text-shadow: none;
	color: #fff;
	left: 0;
	right: 0;
	padding: 10px 20px;
	margin: 0;
	max-width: none;
	top: 10%;
	text-align: center;
}
.callbacks_nav {
      position: absolute;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    top: 56%;
    left: 0;
    opacity: 0.7;
    z-index: 3;
    text-indent: -9999px;
    overflow: hidden;
    text-decoration: none;
        height: 79px;
    width: 30px;
    background: transparent url("../images/arrows.png") no-repeat left top;
    margin-top:3%;
	display:none;
}
 .callbacks_nav:hover{
  	opacity: 0.5;
  }
.callbacks_nav.next {
  left: auto;
    background-position: right top;
   right:-140px;
 }
 .callbacks_nav.prev {
	right: auto;
    background-position: left top;
    left: -140px;
}
#slider3-pager a {
  display: inline-block;
}
#slider3-pager span{
  float: left;
}
#slider3-pager span{
	width:100px;
	height:15px;
	background:#fff;
	display:inline-block;
	border-radius:30em;
	opacity:0.6;
}
#slider3-pager .rslides_here a {
  background: #FFF;
  border-radius:30em;
  opacity:1;
}
#slider3-pager a {
  padding: 0;
}
#slider3-pager li{
	display:inline-block;
}
.rslides {
  position: relative;
  list-style: none;
  overflow: hidden;
  width: 100%;
  padding: 0;
}
.rslides li {
  -webkit-backface-visibility: hidden;
  position: absolute;
  display:none;
  width: 100%;
  left: 0;
  top: 0;
}
.rslides li{
  position: relative;
  display: block;
  float: left;
}
.rslides img {
  height: auto;
  border: 0;
  }
.callbacks_tabs{
       list-style: none;
    position: absolute;
    bottom: -13%;
    right: 0%;
    padding: 0;
    margin: 0;
    display: inline-block;
    background: rgb(230, 228, 228);
    padding: 5px 7px 11px 1px;
    line-height: 20px;
    border-radius: 30px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -o-border-radius: 30px;
    border: 1px solid #ccc;
}
.slider-top span{
	font-weight:600;
}
.callbacks_tabs li{
  display: inline-block;
  margin: 0 .3em;
}
@media screen and (max-width: 600px) {
  .callbacks_nav {
    top: 47%;
    }
}
/*----*/
.callbacks_tabs a{
 visibility: hidden;
}
.callbacks_tabs a:after {
    content: "\f111";
  font-size: 0;
  font-family: FontAwesome;
  visibility: visible;
  display: block;
     width:14px;
    height:14px;
    display: block;
    background:#EA57A3;
  display: inline-block;
  border:none;
  border-radius:50%;
  -webkit-border-radius:50%;
  -moz-border-radius:50%;
  -o-border-radius:50%;
  -ms-border-radius:50%;
  
}
.callbacks_here a:after{
  background:#45B39D;
}
.banner-info {
    top: 62%;
    z-index: 999;
    left: 5%;
	    position: absolute;
}
.banner-info h3 {
    font-size: 2.5em;
    font-weight: 700;
    color: #fff;
    text-transform: uppercase;
}
ul#slider4 h4 {
    position: absolute;
    top: 39%;
    left: 16px;
    z-index: 999;
    font-size: 2.2em;
    color: #fff;
    width: 38%;
    line-height: 1.7em;
    border-left: 8px solid #B73C3D;
    padding-left: 15px;
}
.banner-info p {
    color: #fff;
    font-size: 1.2em;
    margin-top: 0.5em;
}
.banner-info p span {
 color:#45B39D;
}
a.trend {
    position: absolute;
    top: -233%;
    padding: 8px 13px;
    background: #EA57A3;
    font-size: 1em;
    color: #fff;
    -webkit-appearance: none;
    border: none;
    outline: none;
	border-radius: 0.3em;
    -o-border-radius: 0.3em;
    -moz-border-radius: 0.3em;
    -webkit-border-radius: 0.3em;
}
a.trend:hover {
  background:#45B39D;
  text-decoration:none;
}
.banner-img img,.content-grid img {
     border-radius: 4px;
	-o-border-radius: 4px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
}
/*-- main --*/
.audio-grid p{
	color:#fff;
	font-size:0.9em;
}
.next-top{
	position: relative;
	z-index:0;
}
.next-top li{
	display:inline-block;	
}
.next-top li a.ar {
    left: -7%;
    position: absolute;
    top: -22px;
}
.next-top li a.ar2{	
	    left: 10%;
    position: absolute;
    top: -22px;
}
/*-- wthree --*/
/*-- agileits --*/
/*--login-pop--*/
#loginpop {
	    position: relative;
    float:left;
    
}
i.arrow {
    font-size: 0.9em;
  color: #fff;
  vertical-align: baseline;
  transition:0.5s all;
	-webkit-transition:0.5s all;
	-moz-transition:0.5s all;
	-o-transition:0.5s all;
	-ms-transition:0.5s all;
  }
#loginpop a span:hover i.arrow{
  color:#fff;
  }
#loginpop a{
	text-decoration:none;
}
#loginpop a span{
    display: block;
    color: #EA57A3;
    background: #111;
    padding: 8px 15px;
    font-size: 0.9em;
    border: 1px solid #111;
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
    -ms-transition: 0.5s all;
    font-weight: 600;
    text-transform: uppercase;
    border-radius: 0.3em;
    -o-border-radius: 0.3em;
    -webkit-border-radius: 0.3em;
    -moz-border-radius: 0.3em;
    outline: none;
  }
 #loginpop a span:hover{
	background:#000;
	 border: 1px solid #000;
	 color:#fff;
 }
/* Login Button */
#loginButton { 
    display:inline-block;  
    position:relative;
    z-index:30;
    cursor:pointer;
}
/* Login Box */
#loginBox {
    position:absolute;
    top: 56px;
    right: 4px;
    display:none;
    z-index:29;
}
#loginForm:after {
	content: '';
    position: absolute;
        right: 129px;
    top: -13px;
    border-left: 9px solid rgba(0, 0, 0, 0);
    border-right: 10px solid rgba(0, 0, 0, 0);
    border-bottom: 15px solid #FFFFFF;
}
/* Login Form */
#loginForm {
	  width: 300px;
  background: #fff;
  border: 1px solid #d6d6d6;
  height: 280px;
}
#loginForm fieldset {
    margin:0 0 15px 0;
    display:block;
    border:0;
    padding:0;
}
fieldset#body {
    border-radius:3px;
    -webkit-border-radius:3px;
    -moz-border-radius:3px;
    -o-border-radius:3px;
    padding:15px 15px;
    margin:0;
}
#loginForm #checkbox {
    width:auto;
    margin:3px 6px 0 0;
    float:left;
    padding:0;
    border:0;
}
#body label {
   color:#34353a;
    margin:10px 0 0 0;
    display:block;
    float:left;
    font-size:0.8725em;
    font-weight: 400;
}
#loginForm #body fieldset label{
    display:block;
    float:none;
    margin:0 0 6px 0;
	font-family: 'Open Sans', sans-serif;
}
#loginForm #login {
  width: auto;
  float: left;
  background:#45B39D;
  color: #fff;
  font-size: 0.8725em;
  padding: 7px 20px;
  border: none;
  margin: 0 12px 0 0;
  cursor: pointer;
  transition: all .5s;
  -webkit-transition: all .5s;
  -moz-transition: all .5s;
  -o-transition: all .5s;
  outline:none;
  text-transform: uppercase;
    border-radius:0.3em;
  -o-border-radius:0.3em;
  -webkit-border-radius:0.3em;
  -moz-border-radius:0.3em;
  font-family: 'Open Sans', sans-serif;
  
}
#loginForm #login:hover{
     background:#EA57A3;
}
#loginForm input {
   width: 100%;
  border: 1px solid #DADADA;
  color: #222;
  background: #FFF;
  padding: 6px;
  font-size: 0.8125em;
  -webkit-apperance: none;
  outline: none
  font-family: 'Open Sans', sans-serif;
}
#body label i {
  color: #000;
  font-size: 1em;
  font-style: normal;
  font-family: 'Open Sans', sans-serif;
}
#loginForm span a {
  color:#34353a;
  font-size: 0.85em;
  font-weight: 400;
  background: none;
  border: none;
  box-shadow: none;
  padding: 0 16px;
  font-family: 'Open Sans', sans-serif;
}
.serch-part {
    float: left;
    width: 32%;
}
.player {
    float: left;
    width: 45%;
}
.login-pop {
    /*width: 20%;*/
       margin-top: 0.9em;
    margin-left: 3%;
}
.profile_details {
  height: 64px;
   
}
a.top-sign {
    display: inline-block;
    float: right;
    margin-left: 4em;
    margin-top: 0.2em;
    color: #111;
    font-size: 1.25em;
}
/*--albums--*/
.albums {
  padding: 4em 0 0 0;
}
.content-grid img {
    width: 100%;
}
.content-grid {
    width:25%;
    float: left;
    text-align: center;
    box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.35);
    margin-right: 0%;
    margin-bottom: 2%;
    position: relative;
	padding-left: 0;
}
.content-grid h3 {
      color: #fff;
    padding: 0.2em 1em 0.6em 1em;
    display: block;
    line-height: 1.8em;
    font-size: 0.9em;
    font-family: 'OpenSans-Regular';
}
.content-grid ul li a {
    padding: 0 5px;
    display: block;
    color: #e3b23f;
    font-size: 1.1em;
}
.button {
    transition: 0.5s ease;
    -o-transition: 0.5s ease;
    -webkit-transition: 0.5s ease;
    color: #444;
    text-transform: uppercase;
    display: block;
    margin: 10px 0 0 0;
    font-size: 1em;
	font-weight:600;
}
.button:hover {
    color:#EA57A3;
}
.inner-info {
    display: none;
}
.content-grid:hover .inner-info{
   display:block;
    -o-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
    position: absolute;
    bottom: 0px;
    background: #EA57A3;
    padding: 10px 10px;
    width:227px;
    border-radius:0px 0px 4px 4px;
	-webkit-border-radius:0px 0px 4px 4px;
	-moz-border-radius:0px 0px 4px 4px;
	-o-border-radius:0px 0px 4px 4px;
}
.inner-info h5 {
    color: #fff;
    font-size: 1em;
    font-weight: 600;
    text-transform: uppercase;
}
.content-grid ul li {
    display: inline-block;
}
.content-grid.last-grid img {
    width: 100%;
}
.inner-info ul li a i {
    font-size: 0.9em;
	
}
h3.tittle {
    float: left;
    font-size: 1.8em;
    font-weight:700;
    color: #444;
}
h4.tittle {
    float: left;
    font-size: 1.2em;
    font-weight: 400;
    color: #EA57A3;
       margin-left:70%;
}
h4.tittle.two {
     margin-left:70%;
}
span.new{
    display: inline-block;
    padding: 8px 13px;
    background: #EA57A3;
    font-size: 0.5em;
    color: #fff;
    -webkit-appearance: none;
    border: none;
    outline: none;
	    vertical-align: top;
			    border-radius: 0.3em;
    -o-border-radius: 0.3em;
    -moz-border-radius: 0.3em;
    -webkit-border-radius: 0.3em;
}
/*--music_right--*/
/*--/video--*/
	div.jp-type-playlist div.jp-playlist a {
		color: black;
		text-decoration: none;
		padding: 0px!important;
		background:#fff!important;
		display: block;
	}
	div.jp-type-playlist div.jp-playlist a {
		color: black;
		text-decoration: none;
		padding: 0px;
		background:#fff;
		display: block;
	}
	div.jp-type-playlist div.jp-playlist a {
    color: black!important;
	}
div.jp-type-playlist div.jp-playlist a:hover {
    color:#2e9afe!important;
	    /*background: #45B39D!important;*/
}
/*--//video--*/
/*--//pricing_table--*/
/*-- wthree --*/
/*-- agileits --*/
.pricing {
    float: left;
    width: 49%;
    text-align: center;
    margin-left:0;
}
.pricing-table {
    margin: 5% auto 0 auto;
    width: 65%;
}
.price-top h3 {
    font-size: 3em;
    font-weight: 700;
    color: #fff;
}
.price-top h4 {
    font-size: 1.2em;
    color: #fff;
    font-weight: 700;
}
.price-top {
    background: none;
    padding: 1em;
    border-radius: 0.4em 0.4em 0em 0em;
    -webkit-border-radius: 0.4em 0.4em 0em 0em;
    -o-border-radius: 0.4em 0.4em 0em 0em;
    -moz-border-radius: 0.4em 0.4em 0em 0em;
    border: 1px solid #EA57A3;
}
.price-bottom h3 {
    font-size: 2.5em;
    color: #333;
}
.price-bottom p {
    font-size: .9em;
    text-transform: uppercase;
    color: #999;
	margin-bottom: .8em;
}
.price-bottom ul {
    padding: 0;
}
.price-bottom ul li {
       font-size: 1em;
    line-height: 1.9em;
    padding: .3em 0.5em;
    font-weight: 400;
}
a.price {
    font-size: .9em;
    text-transform: uppercase;
    padding: .6em 1em;
    background: #EA57A3;
    color: #fff;
    display: block;
    width: 57%;
    margin: 0.5em auto 0.6em;
    border-radius: 0.3em;
    -o-border-radius: 0.3em;
    -moz-border-radius: 0.3em;
    -webkit-border-radius: 0.3em;
    font-weight:400;
	    text-decoration: none;
}
.pricing:hover a.price {
  	transition:transform 0.3s;
	-o-transition: transform 0.3s;
	-webkit-transition:-webkit-transform 0.3s;
    -moz-transition:-moz-transform 0.3s;
	background:#45B39D;
}
.price-bottom {
	padding:1em 0;
    border: 1px solid #EA57A3;
    border-top: none;
	    border-radius: 0em 0em 0.3em 0.3em;
    -webkit-border-radius: 0em 0em 0.3em 0.3em;
    -o-border-radius: 0em 0em 0.3em 0.3em;
    -moz-border-radius: 0em 0em 0.3em 0.3em;
}

.pricing.two{
	margin-left:2%;
}
.price-section{
	background: #222;
   padding: 3em 2em;
	    border-radius: 0.3em;
    -o-border-radius: 0.3em;
    -moz-border-radius: 0.3em;
    -webkit-border-radius: 0.3em;
}
.price-bottom ul li {
    list-style: none;
}
a.icon {
    float: left;
	    width: 17%;
}
a.text {
    float: right;
    width: 77%;
    text-align: left;
	color:#858B94;
}
a.text:hover{
text-decoration:none;
}
i.glyphicon.glyphicon-ok {
    color: #EA57A3;
    font-size: 1em;
    padding-left: 10px;
}
i.glyphicon.glyphicon-remove {
    color: #DE2C2C;
    font-size: 1.3em;
}
h3.hd-tittle {
    color: #fff;
    font-weight: 600;
    font-size: 1.6em;
    margin-bottom: 1em;
}
/*--//pricing_table--*/
.apps {
    background: #222;
    padding: 2.3em 2em;
    border-radius: 0.3em;
    -o-border-radius: 0.3em;
    -moz-border-radius: 0.3em;
    -webkit-border-radius: 0.3em;
    margin: 1.4em 0;
}
.banner-button {
    float: left;
       width: 45.8%;
}
.green-button {
    margin: 0 1em;
}
/*--//music_right--*/
/*--//albums--*/
ul.footer_social {
	padding: 0;
	list-style: none;
}
ul.footer_social li a {
	display: block;
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	transition: all 0.3s ease;
}
ul.footer_social li:first-child {
	margin-left: 0;
}
ul.footer_social li {
	width:33.333%;
	float:left;
}
ul.footer_social li a:hover i.fb, ul.footer_social li a:hover i.tw, ul.footer_social li a:hover i.pin{
	opacity:0.9;
}
i.fb{
	width:379px;
	height: 150px;
	display: block;
	background: url(../images/fb.png)#3b5997 no-repeat 145px 25px;
}
i.tw{
    width: 380px;
	height: 150px;
	display: block;
	background: url(../images/tw.png)#3fccfd no-repeat 145px 25px;
}
i.pin{
    width: 380px;
	height: 150px;
	display: block;
	background: url(../images/pin.png)#cb2027 no-repeat 145px 25px;
}
.jp-volume-controls button {
    display: block;
    position: absolute;
    overflow: hidden;
    text-indent: -9999px;
    border: none;
    cursor: pointer;
    box-shadow: none!important;
}
.jp-controls button {
    display: block;
    float: left;
    overflow: hidden;
    text-indent: -9999px;
    border: none;
    cursor: pointer;
	    box-shadow:none!important;
}
.jp-state-playing .jp-play {
    background: url(../images/jplayer.blue.monday.png) 0 -42px no-repeat;
    box-shadow:none!important;
}
.jp-toggles button {
    display: block;
    float: left;
    width: 25px;
    height: 18px;
    text-indent: -9999px;
    line-height: 100%;
    border: none;
    cursor: pointer;
	box-shadow:none!important;
}
/*--/single--*/
.single_left{
    float:left;
    width: 33%;
      margin-right:3%;
}
.responces{
    float: left;
    width: 65%;
}
.response-text-right p {
    font-size: 0.95em;
    margin: 0 0 1em;
    line-height: 2em;
    color: #444;
    padding: 0em 1em;
}
.response-text-right ul {
    padding: 0;
    text-align: right;
}
.media-left.response-text-left a {
    color: #444;
    font-size: 1.1em;
    display: block;
    margin-top: 6px;
    font-family: 'MavenPro-Regular';
    font-weight: 700;
}
.media-body.response-text-right ul li {
	color:#EA57A3;
    font-size: 0.95em;
	display:inline-block;
}
.media-body.response-text-right ul li a{
    color: #444;
    font-size: 1em;
    display: block;
    margin-top: 6px;
	margin-left:2em;
}
.media-body.response-text-right ul li a:hover {
	color:#EA57A3;
}
img.media-object {
    border-radius: 4px;
	-o-border-radius: 4px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	box-shadow: 3px 3px 8px #888888;
	-o-box-shadow: 3px 3px 8px #888888;
	-webkit-box-shadow: 3px 3px 8px #888888;
	-moz-box-shadow: 3px 3px 8px #888888;
}
.response {
    float: right;
    width: 64%;
}
.response h4 {
      color: #444;
    font-size: 2em;
    font-weight: 600;
    margin-bottom: 1em;
}
.inner-content.single {
    padding-top: 1.2em;
}
.coment-form  {
	    margin: 3em 0;
}
.coment-form h4 {
    color: #444;
    font-size: 1.5em;
    font-weight: 600;
    margin-bottom: 1.5em;
}
.coment-form input[type="text"],.coment-form input[type="email"] {
  display: block;
  background: none;
  color: #999;
  border:1px solid #ddd;
  margin-bottom: 5px;
  outline: none;
  font-size: 15px;
  padding: 13px 15px;
      font-family: 'Lato-Regular';
  width:50%;
  border-radius:4px;
		-o-border-radius:4px;
		-moz-border-radius:4px;
		-webkit-border-radius:4px;
}
.coment-form textarea {
	background: none;
  color: #999;
  border:1px solid #ddd;
	width:70%;
	display: block;
	height: 150px;
	outline: none;
	font-size:15px;
	resize: none;
	padding: 13px 15px;
	    font-family: 'Lato-Regular';
		border-radius:4px;
		-o-border-radius:4px;
		-moz-border-radius:4px;
		-webkit-border-radius:4px;
}
.coment-form input[type="submit"] {
  background:#45B39D;
  border: 1px solid #f4f4f4;
  padding:1em 0;
  width: 16%;
  margin-top: .5em;
  font-size: 15px;
  color: #fff;
  letter-spacing: 0.5px;
  outline: none;
  transition:.5s all;
  -webkit-transition:.5s all;
  -moz-transition:.5s all;
  -o-transition:.5s all;
  -ms-transition:.5s all;
  text-transform:uppercase;
      font-family: 'Lato-Regular';
	  border-radius:4px;
		-o-border-radius:4px;
		-moz-border-radius:4px;
		-webkit-border-radius:4px;
}
.coment-form input[type="submit"]:hover{
	color: #fff;
	background:#EA57A3;
	outline: none;
  transition:.5s all;
  -webkit-transition:.5s all;
  -moz-transition:.5s all;
  -o-transition:.5s all;
  -ms-transition:.5s all;
}
/*--//play-grids--*/
/*--footer--*/
.footer {
        background:#222;
    padding: 3em 4em 5em 6em;
}
.footer-grid {
	float: left;
	width: 17.6%;
	margin-right: 3%;
}
.footer-grid_last {
	margin-right: 0;
}
.footer-grid h3 {
	color: #F9F9F9;
    font-size: 1.4em;
    margin-bottom: 0.2em;
}
ul.list1 {
	padding: 0;
	list-style: none;
}
ul.list1 a {
	color: #747477;
    font-size: 0.95em;
    line-height: 1.8em
}
ul.list1 a:hover{
  color: #fff;
  text-decoration:none;
}
.search_footer {
	position: relative;
	font-family: 'Roboto', sans-serif;
	margin-bottom:2em;
}
.search_footer input[type="text"] {
	padding:7px 10px;
    outline: none;
    border: none;
    width: 70.33%;
    line-height: 1.5em;
    font-size: 0.8125em;
    background:#F5F5F5;
	border-radius: 4px 0px 0px 4px;
    -o-border-radius: 0px 4px 4px 0px;
    -webkit-border-radius: 4px 0px 0px 4px;
    -moz-border-radius: 0px 4px 4px 0px;
}
.search_footer input[type="submit"] {
	background:#000;
	padding:7px 8px;
	cursor: pointer;
	position: absolute;
	color:#fff;
	border:none;
	outline: none;
	line-height: 1.5em;
	text-transform: uppercase;
	font-size: 0.8em;
	-webkit-transition: all 0.3s ease-out;
	-moz-transition: all 0.3s ease-out;
	-ms-transition: all 0.3s ease-out;
	-o-transition: all 0.3s ease-out;
	transition: all 0.3s ease-out;
	border-radius: 0px 4px 4px 0px;
    -o-border-radius: 0px 4px 4px 0px;
	-webkit-border-radius: 0px 4px 4px 0px;
	-moz-border-radius: 0px 4px 4px 0px;
}
.search_footer input[type="submit"]:hover{
	background:#EA57A3;
}
p.footer_desc{
	color: #747477;
	font-size: 0.95em;
    line-height: 1.8em;
    margin: 0px 0 16px;
}
p.f_text{
	color:#fff;
	font-size:0.85em;
	margin-bottom:0.5em;
}
p.email{
	color: #EA57A3;
	font-size:0.85em;
}
p.email span a{
	color:#EA57A3;
}
p.email span:hover{
	text-decoration:underline; 
}
/*-- wthree --*/
/*-- agileits --*/
/******** SAP-ENDS ************/
#flexiselDemo1, #flexiselDemo2, #flexiselDemo3 {
	display: none;
}
.nbs-flexisel-container {
	position: relative;
	max-width: 100%;
}
.nbs-flexisel-item a img {
	width: 100%;
}
.nbs-flexisel-item a {
	display:block;
}
.nbs-flexisel-ul {
	position: relative;
	width: 9999px;
	margin: 0px;
	padding: 0px;
	list-style-type: none;
	text-align: center;
}
.nbs-flexisel-inner {
	overflow: hidden;
	  padding: 2em 0;
}
.nbs-flexisel-item {
	float: left;
	margin: 0px;
	padding: 0px;
	cursor: pointer;
	position: relative;
	width:235px! important;
	margin: 0 10px;
	box-shadow: 0px 0px 12px -1px rgba(215,215,215,0.44);
	-webkit-box-shadow: 0px 0px 12px -1px rgba(215,215,215,0.44);
	-moz-box-shadow: 0px 0px 12px -1px rgba(215,215,215,0.44);
	-o-box-shadow: 0px 0px 12px -1px rgba(215,215,215,0.44);
	-ms-box-shadow: 0px 0px 12px -1px rgba(215,215,215,0.44);
	border:1px solid #ddd;
}
.nbs-flexisel-item > img {
	cursor: pointer;
	position: relative;
	   width: 100%;
  margin: 0 0%;
}
/*** Navigation ***/
.nbs-flexisel-nav-left {
	display:none;
}
.nbs-flexisel-nav-right {
	display:none;
}	
.review-slider {
margin-top: 1.4em;
}
.slide-title h4 {
	padding: 10px 8px;
	color: #444;
	display: block;
	background-color: #fff;
	font-size: 1.1em;
	font-weight:600;
	text-align:center;
	margin:0;
}
.buy-tickets {
	display:none;
}
.date-city {
	  background-color: #FCFCFC;
	padding: 12px 16px;
	text-align:center;
	position:relative;
}
.date-city h5 {
	  color:#EA57A3;
  font-size:1em;
  font-weight: 400;
  margin-bottom:1.5em;
}
.buy-tickets {
	background-color:#fff;
	padding:8px;
	position:absolute;
	top:0;
	left:0;
}
.buy-tickets a {
	text-align: center;
    color: #fff;
	padding: 9px;
	background: #45B39D;
	display: block;
	font-size: 0.95em;
	font-weight:400;
	text-decoration: none;
	    border-radius: 0.3em;
    -o-border-radius: 0.3em;
    -moz-border-radius: 0.3em;
    -webkit-border-radius: 0.3em;
}
.buy-tickets a:hover {
	color: #fff;
    background-color:#EA57A3;
}
.nbs-flexisel-item:hover div.buy-tickets {
	display:block;
	width: 100%;
}
.nbs-flexisel-item  img{
border-radius: 4px;
    -o-border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
	}
	.content-grid {
    width: 21.2%;
}
/*---browse-grid-----*/
.browse-grid {
   width: 16.66%;
    float: left;
    text-align: center;
    box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.35);
    margin-right: 0%;
    margin-bottom: 2%;
    position: relative;
    padding-left: 0;
}
.browse-grid img {
    width: 100%;
	border-radius:0.3em;
	-o-border-radius:0.3em;
	-webkit-border-radius:0.3em;
	-moz-border-radius:0.3em;
}
.browse-grid:nth-child(6),.browse-grid:nth-child(12) {
    margin-left: 0%;
}
.browse {
    padding: 1em 0 0 0;
}
i.glyphicon.glyphicon-play-circle {
    position: absolute;
    top:30%;
    left: 40%;
    color: #fff;
    font-size: 3em;
}
a.sing {
    color: #444;
    font-size: 1.4em;
    font-weight:400;
    display: block;
    padding-top: 20px;
	    font-family: 'MavenPro-Regular';
}
a.sing:hover{
 color:#EA57A3;
 text-decoration:none;
}
.tittle-head.two {
    margin-bottom: 1em;
}
h4.tittle.third {
    float: right;
    margin-right:1%;
}
.browse-grid img:hover {
    opacity: 0.8;
}
/*-- wthree --*/
/*-- agileits --*/
/*---browse-grid-----*/
/*---browse-grid-----*/
.artist-grid {
   width: 16.66%;
    float: left;
    text-align: center;
    box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.35);
    margin-right: 0%;
    margin-bottom: 2%;
    position: relative;
    padding-left: 0;
}
.artist-grid img {
    width: 100%;
    border-radius: 4px 4px 0px 0px;
	-o-border-radius: 4px 4px 0px 0px;
	-moz-border-radius: 4px 4px 0px 0px;
	-webkit-border-radius: 4px 4px 0px 0px;
}
.artist-grid:nth-child(6),.artist-grid:nth-child(12) {
    margin-left: 0%;
}
.browse {
    padding: 1em 0 0 0;
}
i.glyphicon.glyphicon-play-circle {
    position: absolute;
    top:30%;
    left: 40%;
    color: #fff;
    font-size: 3em;
}
a.art {
      color: #fff;
    font-size: 0.8em;
    font-weight: 400;
    display: block;
    padding: 14px 0;
    font-family: 'MavenPro-Regular';
    background: #444;
    border: 1px solid #CECDCD;
	 border-radius:0px 0px 4px 4px;
	-o-border-radius:0px 0px 4px 4px;
	-moz-border-radius:0px 0px 4px 4px;
	-webkit-border-radius:0px 0px 4px 4px;
}
a.art:hover{
 color:#2e9afe;
 text-decoration:none;
}
.tittle-head.two {
    margin-bottom: 1em;
}
h4.tittle.third {
       float: right;
    margin-right: 1%;
    margin-left: 0;
}
.artist-grid img:hover {
    opacity: 0.8;
}
/*---typography-----*/
.input-group {
    margin-bottom: 20px;
}
h3.typo{
    padding-bottom: .5em;
    font-size: 2em;
    color: #000!important;
	}
h2.second-tittle {
    margin-top: 2em;
    font-size: 3em;
    color: #fff;
    text-align: center;
}
.bs-example h2 {
  margin-bottom: 0;
  text-align: left;
}
.bs-example h2 {
  margin-bottom: 0;
  text-align: left;
}
.table h2 {
  font-size: 2.2em;
}
.grid_5 h2 {
  font-size: 2em;
  text-align: left;
  margin-bottom: 0;
}
.grid_5 h1, h2, h3, h4, h5, h6 {
  padding: 10px 0;
}
.grid_5 {
  margin: 31px 0;
}
.grid_3 h3 {
  padding-bottom: .5em;
     font-size:2em;
  color: #000;
}
.grid_4 h3 {
  color: #000;
}
.page-header h1 {
  color: #000;
}
.first{
 margin-top:2em;
}
a#profile-tab {
  color: #777;
}
ul#myTab li a {
  color: #000;
}
div#profile p {
  line-height: 1.7em;
  margin: 1em 0;
  color:#777;
}
li.list-group-item1 {
    color: #777;
}
.list-group-item {
    position: relative;
    display: block;
    padding: 10px 15px;
    margin-bottom: -1px;
    background-color: #fff;
    border: 1px solid #ddd;
    color: #777;
}
/*-- sign --*/
.modal-info {
    width: 100%;
}
.modal-dialog {
    width: 600px;
    margin:120px auto;
}
.modal-header {
    min-height: 16.43px;
    padding: 12px 32px;
    border-bottom:none!important;
}
.modal-content {
    background-color: rgb(255, 255, 255);
    border: none;
    border-radius: 0px;
    -webkit-box-shadow: none;
    box-shadow: none;
}
.sign-right{
	    float: left;
    width: 50%;
    margin-left:5%;
}
.sign-right h3{
        color: #EA57A3;
    font-weight: normal;
    font-size: 20px;
    padding: 0;

}
.modal-body.modal-spa {
    padding: 1em 2em;
}
.sign-left {
    float: left;
    width: 45%;
	margin-top:6.8%;
}
.sign-right input[type="text"] ,.sign-right input[type="password"] ,.sign-right input[type="email"]{
        width: 100%;
    padding: 15px 13px;
    font-weight: normal;
    background: none;
    border: 1px solid #E6E4E4;
    color: #000;
    outline: none;
    font-size: 14px;
    margin-top: 11px;
    font-family: 'Lato-Regular';
    box-shadow: inset 0 1px 1px 1px rgba(0,0,0,.07);
    -o-box-shadow: inset 0 1px 1px 1px rgba(0,0,0,.07);
    -moz-box-shadow: inset 0 1px 1px 1px rgba(0,0,0,.07);
    -webkit-box-shadow: inset 0 1px 1px 1px rgba(0,0,0,.07);
	     border-radius: 4px;
    -o-border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
}
.sign-right h4{
	color:#48cfc1;
	font-size:12px;
	margin:20px 0;
}
.sign-right h4 a{
	color:#48cfc1;
	text-decoration:none;
}
.sign-right h4 a:hover{
	color:#A9A8A8;
}
.sign-right input[type="button"] {
      background: #111;
    color: #fff;
    font-size: 16px;
    border: none;
    width: 100%;
    outline: none;
    -webkit-appearance: none;
    padding: 15px 15px;
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
    font-family: 'Lato-Regular';
    margin-top: 20px;
	     border-radius: 4px;
    -o-border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
}
.sign-right input[type="submit"]:hover {
	background:#EA57A3;
}
.sign-grids p {
    font-size: 13px;
    margin: 25px 0;
    color: #444;
    text-align: center;
}
.sign-grids p span{
	color:#EA57A3;
}
.sign-left ul li{
	list-style-type:none;
	display:block;
        margin: 10px 0;
    font-size: 16px;
}
.sign-left ul li a{
    padding: 9px 0;
    display: block;
    text-align: center;
    color: #fff;
	text-decoration:none;
	font-family: 'Lato-Regular';
     line-height: 32px;
}
.sign-left ul li a:hover{
	opacity:.7;
}
.sign-left ul li a.fb{
	background:#3b5998;
	     border-radius: 4px;
    -o-border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
}
.sign-left ul li a.goog{
	background:#dc4e41;
	     border-radius: 4px;
    -o-border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
}
.sign-left ul li a.linkin{
	background:#00a0dc;
	     border-radius: 4px;
    -o-border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
}
.sign-left ul li a.fb i{
    background: url(../images/social.png) no-repeat -45px -1px;
    width: 24px;
    height: 23px;
    display: inline-block;
    vertical-align: middle;
}
.sign-left ul li a.goog i{
    background: url(../images/social.png) no-repeat -84px 0px;
    width: 40px;
    height: 23px;
    display: inline-block;
   vertical-align: middle;
}
.sign-left ul li a.linkin i{
    background: url(../images/social.png) no-repeat -3px 0px;
    width: 32px;
    height: 23px;
    display: inline-block;
    vertical-align: middle;
}
.sign-left ul {
    padding: 0;
}
/*--//sign--*/
/*--app--*/
.modal-dialog.facebook {
       width: 750px;
    margin:120px auto;
}
.app-grids {
    padding:1em 1em;
}
.app-image img {
	width:100%;
}
.app-left h3 {
    font-size: 27px;
    line-height: 1.9em;
    margin: 20px 0 0px 0;
    color: #EA57A3;
    font-weight: 600;
}
.app-left p {
       margin: 10px 0 0px 0;
    color: #000;
    font-size:1.1em;
    font-weight: 300;
    line-height: 1.7em;
}
.app-devices {
    width:100%;
    margin: 30px 0 0 0;
}
.app-devices a {
    float: left;
    width: 46%;
	margin-right:4%;
}
.app-devices a img {
    width: 100%;
}
.app-devices h5 {
	    margin-bottom: 12px;
        font-size: 18px;
    color: #EA57A3
}
.app-bottom-grids {
    padding: 60px 0;
}
.app-bottom-grid h3 {
	font-size: 24px;
    color: #f3c500;
    margin: 30px 0 0px 0;
    font-weight: 600;
    letter-spacing: 2px;
    line-height: 32px;
}
.app-bottom-grid p {
    color: #777;
    font-size: 15px;
    font-weight: 300;
    line-height: 28px;
    margin-top: 15px;
    margin-bottom: 10px;
}
.app-bottom-grid {
    border: 1px solid #eee;
	padding: 30px 15px;
	width:23%;
	margin:0 1%;
	background-color: #FFF;
}
.app-bottom-grid i {
	font-size: 50px;
    color: #8F44AD;
}
/*-- wthree --*/
/*-- agileits --*/
/*-- /grids--*/
.form-control1 {
    border: 1px solid #e0e0e0;
    padding: 5px 8px;
    color: #616161;
    background: #fff;
    box-shadow: none!important;
    width: 100%;
    font-size: 0.85em;
    font-weight: 300;
    height: 40px;
    border-radius: 0;
    -webkit-appearance: none;
    outline: none;
}
.grid-section {
    padding: 3em 3em;
}
.tab-content {
	padding: 15px;
	padding-top: 0px; 
	padding-left: 0px; 
	padding-bottom: 0px;
	border-top: none;
}
span.caret {
       padding: 0!important;
}
/*--/tab--*/
.nav-tabs {
	border: none;
}
ul#myTab {
	border: none;
	    margin-bottom: 2em;
}
.dropdown-menu>.active>a, .dropdown-menu>.active>a:focus, .dropdown-menu>.active>a:hover {
    color: #fff;
    text-decoration: none;
    background-color: #EA57A3;
    outline: 0;
}
.nav-tabs > li {
	float: left;
	margin-bottom: -1px;
}
.nav-tabs > li > a {
	background: #f8f8f8;
	margin-right: 3px;
	border: none;
	border-radius: 0;
	font-family: 'Open Sans', sans-serif;
	font-size: 14px;
	color: #555;
	padding:10px 20px;
	-webkit-transition: all 0.3s ease-in-out 0s;
	-o-transition: all 0.3s ease-in-out 0s;
	transition: all 0.3s ease-in-out 0s;
	
}
.nav-tabs > li > a .fa {
	margin-right: 10px;
}
.nav-tabs > li.active > a{
	border: none;
}
.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
	    background-color: #EA57A3;
    border: none;
    border-radius: 0;
    border-radius: 0.3em;
    -o-border-radius: 0.3em;
    -moz-border-radius: 0.3em;
    -webkit-border-radius: 0.3em;
}
.nav-tabs > li > a:hover, .nav-tabs > li > a:focus {
	color: #fff;
		    background-color: #EA57A3;
    border: none;
    border-radius: 0;
    border-radius: 0.3em;
    -o-border-radius: 0.3em;
    -moz-border-radius: 0.3em;
    -webkit-border-radius: 0.3em;
}
.nav-tabs > li > a i {
	font-size: 32px;
	margin-right: 20px;
	vertical-align: middle;
}
.tab-content p {
    line-height: 2.2em;
    font-size: 14px;
	    color: #777;
}
/*--//tab--*/
/*--blog--*/
.widget ul {
    display: block;
    list-style: none;
    margin: 0;
    padding: 0;
}
.widget-side ul li:first-child {
    border-top-left-radius:4px;
    border-top-right-radius:4px;
	-webkit-border-top-left-radius:4px;
    -webkit-border-top-right-radius:4px;
	-o-border-top-left-radius:4px;
    -o-border-top-right-radius:4px;
	-moz-border-top-left-radius:4px;
    -moz-border-top-left-radius:4px;
}
.widget-side ul li:last-child {
		border-bottom-left-radius:4px;
		border-bottom-right-radius:4px;
		-webkit-border-bottom-left-radius:4px;
		-webkit-border-bottom-right-radius:4px;
		-o-border-bottom-left-radius:4px;
		-o-border-bottom-right-radius:4px;
		-moz-border-bottom-left-radius:4px;
		-moz-border-bottom-right-radius:4px;
}
.widget-side ul li {
    display: block;
    padding: 10px 15px;
    background-color: #fff;
    border: 1px solid #DBDCDC;
    margin-bottom: -1px;
}
.widget-side ul li a {
    display: block;
	    color: #444;
		font-size:1.1em;
		line-height:1.5em;
}
.widget-side ul li .post-date {
        color: #888;
    font-size: 13px;
    line-height: 32px;
}
h6.blg {
       color: #444;
    float: left;
    padding: 0;
    font-size: 1em;
}
.icons {
    float: right;
}
.icons a {
    color: #444;
    text-align: right;
    float: left;
    font-size: 0.9em;
    margin: 0.2em 0.1em;
}
.post-media img {
    border-radius:4px 4px 0 0;
    -o-border-radius:4px 4px 0 0;
    -webkit-border-radius:4px 4px 0 0;
    -moz-border-radius:4px 4px 0 0;
}
.blog-text {
    background: #f4f4f4;
    padding: 2em 1.5em;
    border: 1px solid #ddd;
    border-top: none;
	    border-radius:0px 0px 4px 4px;
    -o-border-radius:0px 0px 4px 4px;
    -webkit-border-radius:0px 0px 4px 4px;
    -moz-border-radius:0px 0px 4px 4px;
}
.widget-side ul {
    padding: 0;
}
h6.blg i,.icons i {
    font-size: 1.3em;
    margin: 0 0.3em;
    color: #999;
}
.entry-meta p {
    font-size: 0.95em;
    line-height: 1.9em;
    color: #444;
	margin: 10px 0;
}
h6.blg i.fa.fa-clock-o {
    margin: 0 0.3em 0 0em;
}
.blog-text a:hover,h3.h-t:hover,.widget-side ul li a:hover{
 color:#EA57A3;
 text-decoration:none;
}
h3.h-t {
    color: #111;
    font-size:1.8em;
	}
	.post-media.second {
    margin: 2em 0;
}
h4.widget-title {
    font-size: 1.8em;
    font-weight: 700;
    color: #444;
	padding: 0 0 10px 0;
}
.song-img{
 float:left;
 width:20%;
}
.song-text{
	 float:right;
	 width:75%;
}
.song-img img {
    width: 100%;
	border-radius:4px;
	-webkit-border-radius:4px;
	-webkit-border-radius:4px;
	-o-border-radius:4px;
	-moz-border-radius:4px;
	
}
.widget-side.second {
    margin-top: 2em;
}
.blog-pagenat {
    text-align:left;
    margin-top:2em;
}
.blog-pagenat ul {
    padding: 0;
}
.blog-text img{
  width:100%;
}
.blog-pagenat ul li a {
    display: block;
    background: #fff;
    padding: 8px 1.1em;
    font-size: 0.9em;
    text-transform: uppercase;
    color: #222;
    font-weight: 400;
    display: inline-block;
    margin-top: 1em; 
    text-decoration: none;
    border: 1px solid #D6D4D4;
	border-radius: 4px;
    -o-border-radius:4px;
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
}
.blog-pagenat ul li {
    display: inline-block;
    list-style: none;
}
.blog-pagenat ul li a:hover {
    background:#EA57A3;
    color:#fff;
    border: 1px solid #EA57A3;
}
/*--contact--*/
.contact-left{
	float:left;
	width:50%;
	}
.contact-left iframe{
	width:100%;
	height:344px;
	border:none;
	}
.contact-right{
	float:right;
	width:50%;
	padding:3em 2em;
	}
.contact-right p.phn{
	    color: #EA57A3;
    font-size: 2em;
    font-weight: 400;
    margin: 0 0 .5em;
	}
p.phn-bottom{
	      color:#444;
    font-size: 1.2em;
    margin: 0 0 1em;
	}
p.phn-bottom span{
	display:block;
	font-weight:600;
	    padding-top: 8px;
	}
p.lom{
	color: #444;
    font-size: 0.95em;
    line-height: 1.9em;
    width: 65%;
    margin: 0;
    font-style: normal;
	}
.contact-left1{
	    float: left;
    width: 50%;
    padding: 3em 2em 3em 0;
	}
.contact-left1 h3{
    color: #444444;
    font-weight: 600;
    font-size: 1.8em;
    margin: 0 0 1em 0em;
	}
.contact-left1 h3 span{
	     display: block;
    color: #999;
    font-size: 0.6em;
    padding-top: 17px;
    font-weight: 400;
	
	}
.in-left{
	float:left;
	width:45%;
	}
.in-left input[type="text"],.in-right textarea{
	outline:none;
	background:none;
	color:#777;
	font-size:14px;
	padding:13px 10px;
	width:100%;
	margin: 7px 0;
     border-radius: 4px;
    -o-border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
	 border: 1px solid #E6E4E4;
	 box-shadow: inset 0 1px 1px 1px rgba(0,0,0,.07);
    -o-box-shadow: inset 0 1px 1px 1px rgba(0,0,0,.07);
    -moz-box-shadow: inset 0 1px 1px 1px rgba(0,0,0,.07);
    -webkit-box-shadow: inset 0 1px 1px 1px rgba(0,0,0,.07);
	}
	p.your-para {
       color: #444;
		font-size: 1em;
		margin: 0 0 5px 0;
		font-weight: 400;
}
.in-right{
	float:right;
	width:50%;
	}
.in-right textarea{
	    resize: none;
    min-height: 257px;
    margin: 0;
    margin-bottom: 2em;
	}
.in-right input[type="submit"]{
	outline: none;
    border: none;
    background: #111;
    color: #fff;
    font-weight: 400;
    font-size: 15px;
    padding: 11px 0px;
    width: 36%;
    display: block;
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
    -ms-transition: 0.5s all;
    text-transform: uppercase;
    border-radius: 4px;
    -o-border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
}
.in-right input[type="submit"]:hover{
	background:#EA57A3;
	color:#fff;
	}
::-webkit-input-placeholder{
	color:#000 !important;
	}
.contact-right1{
	    float: right;
    width: 50%;
    background: #444;
       padding: 4em 2em;
	}
.contact-right1 h3{
		color: #C34C21;
		font-weight: 700;
		font-size: 2em;
	    padding: 5px 0;
	}
.contact-right1 h3 span{
	    display: block;
    color: #FFF;
    font-weight: 600;
	}
.contact-right1 h4{
	text-transform: capitalize;
    font-size: 1.4em;
    margin: 0em 0;
    color: #EA57A3;
    line-height: 1.6em;
    font-weight: 400;
	}
.contact-right1 h4 span{
	display:block;
	}
.contact-right1 p{
	color: #fff;
    width: 85%;
    font-size: 0.95em;
    line-height: 1.9em;
    margin: 0;
    font-style: normal;
}
.contact-right1 ul{
	padding:2.19em 0 0;
	margin:0;
	}
ul.side-icons li {
    list-style-type: none;
    display: inline-block;
	margin-right:5px;
}
ul.side-icons li a{
	width:24px;
	height:24px;
	display:block;
	border:none;
	padding:0
}
ul.side-icons li a:hover{
 opacity:0.4;
}
ul.side-icons li a.fb{
 background:url('../images/icons.png') no-repeat 0px 0px;
}
ul.side-icons li a.twitt{
 background:url('../images/icons.png') no-repeat -26px 0px;
}
ul.side-icons li a.goog{
 background:url('../images/icons.png') no-repeat -52px 0px;
}
ul.side-icons li a.drib{
 background:url('../images/icons.png') no-repeat -78px 0px;
}
/*-- w3l-agile --*/
/*-- agileits --*/
/*-- //error--*/
.error-top{
	margin:0 auto;
	text-align:center;
	padding:2em 0;
	}

.error-top h3 {
    font-size: 4em;
    font-weight: 400;
        color: #444444;
}
a.not {
    font-size: 0.3em;
    text-transform: uppercase;
    padding: 0.8em 1em;
    background: #EA57A3;
    color: #fff;
    display: inline-block;
    border-radius: 0.3em;
    -o-border-radius: 0.3em;
    -moz-border-radius: 0.3em;
    -webkit-border-radius: 0.3em;
    font-weight: 600;
    width: 14%;
    text-decoration: none;
}
.inner-info a {
    color: #fff;
}
.inner-info a:hover {
text-decoration:none;
}
/*-- w3l-agile --*/
/*-- agileits --*/
/*---responsive-----*/
@media (max-width:1600px){
	.content-grid {
		width: 25%;
	}
	.price-section {
		padding: 2em 2em;
	}
	.apps {
      padding: 2.3em 2em;
	}
    div.jp-type-playlist div.jp-playlist a {
		padding:0px!important;
	}
	.content-grid:hover .inner-info {
		padding: 10px 10px;
		width:227px; 
	}
	h4.tittle {
		margin-left: 68%;
	}
	h4.tittle.two {
		margin-left: 74%;
	}
}
@media (max-width:1440px){
	.content-grid {
		width: 24.1%;
		margin-right: 1%;
	}
	.content-grid.last-grid {
		margin-right:0%;
	}
	.banner-button img {
		width: 100%;
	}
	.banner-button {
		float: left;
		width: 44.8%;
	}
	.content-grid:hover .inner-info {
		padding:3px 10px;
		    width: 190px;
	}
	.inner-info h5 {
		font-size: 0.9em;
		margin: 0;
	}
	a.trend {
		top: -184%;
		padding: 8px 13px;
	}
	div.jp-type-playlist div.jp-playlist a {
		padding: 0px!important;
	}
	.apps {
		padding: 2em 2em;
		margin: 1em 0;
	}
	h3.hd-tittle {
		font-size: 1.6em;
		margin-bottom: 0.5em;
	}
	.price-section {
		padding: 2em 1em;
	}
	.price-top h4 {
		font-size: 1.2em;
		padding: 0;
	}
	.price-top h3 {
    font-size: 2.5em;
	}
	.price-section {
		padding: 1em 1em;
	}
	.apps {
		padding: 1.2em 1em;
	}
	a.sing {
      font-size: 1.2em;
	}
	img#jp_poster_0 {
	    width:431px!important;
		height:272px;
	}
	.nbs-flexisel-inner {
		overflow: hidden;
		padding: 1em 0 1em 0em;
	}
	h4.tittle {
		margin-left: 64%;
	}
	h4.tittle.two {
		margin-left: 70%;
	}
}
/*-- w3l-agile --*/
/*-- agileits --*/
@media (max-width:1366px){
	.content-grid {
		width: 23.5%;
		margin-right: 2%;
	}
	.content-grid.last-grid {
		margin-right:0%;
	}
	.contact-right1 {
		float: right;
		width: 50%;
		padding: 2.1em 2em;
	}
	img#jp_poster_0 {
	    width:407px!important;
		height:272px;
	}
	.price-top {
		background: none;
		padding: 0.5em 0
	}
	.content-grid:hover .inner-info {
		padding: 3px 10px;
		width: 176px;
	}
	a.price {
		font-size: .8em;
		padding: .6em 1em;
		width: 56%;
		margin: 0.5em auto 0.4em;
	}
	a.text {
		float: right;
		width: 77%;
		font-size: 0.9em;
		line-height: 1.8em;
	}
	h4.tittle {
		       margin-left: 63%;
	}
	h4.tittle.two {
	    margin-left: 69%;
	}
	a.not {
		font-size: 0.3em;
		padding: 0.8em 1em;
		width: 17%;
		text-decoration: none;
	}
	a.top-sign {
		display: inline-block;
		float: right;
		margin-left:2em;
	}
}
@media (max-width:1280px){
	i.glyphicon.glyphicon-play-circle {
		position: absolute;
		top: 29%;
		left: 37%;
		color: #fff;
		font-size: 2.5em;
	}
	.content-grid {
		width: 24%;
		margin-right: 1%;
	}
	.content-grid:hover .inner-info {
		padding: 3px 10px;
		width: 162px;
	}
	img#jp_poster_0 {
      width: 378px!important;
	}
	.banner-info h3 {
    font-size: 2em;
	}
	.button {
		margin: 10px 0 0 0;
		font-size: 0.9em;
	}
	h3.hd-tittle {
		font-size: 1.4em;
		margin-bottom: 0.5em;
	}
	p.footer_desc,ul.list1 a{
	    font-size: 0.9em;
	}
	.footer-grid h3 {
		font-size: 1.4em;
		margin-bottom: 0.3em;
	}
	.coment-form input[type="submit"] {
		padding: 1em 0;
		width: 25%;
		margin-top: .5em;
		font-size: 15px;
	}
	a.top-sign {
		display: inline-block;
		float: right;
		margin-left: 1em;
	}
}
@media (max-width:1024px){
	img#jp_poster_0 {
		width: 297px!important;
	}
	.login-pop {
		width:19%;
		margin-top: 0.9em;
		float: right;
	}
	.sb-search {
		position: absolute;
		right: 43px;
	}
	.callbacks_tabs {
		list-style: none;
		position: absolute;
		bottom: -20%;
		}
	.content-grid {
		width:25%;
		margin-right: 0%;
	}
	.content-grid.last-grid {
		margin-right:0%;
	}
	h4.tittle {
		margin-left: 48%;
	}
	h4.tittle.two {
		margin-left: 57%;
	}
	.banner-button {
		float: left;
		width: 42.8%;
	}
	.button {
    margin: 10px 0 0 0;
    font-size: 0.85em;
	}
	h3.hd-tittle {
		font-size: 1.5em;
		margin-bottom: 0.5em;
	}
	.content-grid:hover .inner-info {
		padding: 3px 10px;
		width: 133px;
	}
	i.glyphicon.glyphicon-ok {
		color: #EA57A3;
		font-size: 0.9em;
		padding-left: 0px;
	}
	a.price {
		font-size: .8em;
		padding: .6em 1em;
		width: 67%;
		margin: 0.3em auto 0.3em;
	}
	div.jp-type-playlist div.jp-playlist a {
		padding: 0px!important;
		
	}
	.price-top h3 {
		font-size: 2.3em;
		padding: 0;
	}
	.price-top h4 {
		font-size: 1em;
		padding: 0;
	}
	.artist-grid {
		width: 24.66%;
		float: left;
		text-align: center;
		box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.35);
		margin-right: 0%;
		margin-bottom: 2%;
	}
	h4.tittle.third {
		float: right;
		margin-right: 3%;
		margin-left: 0;
	}
	.browse-grid {
		width: 24.66%;
		float: left;
		margin-right: 0%;
		margin-bottom: 2%;
	}
	.footer {
		padding: 2em 2em 5em 5em;
	}
	h4.tittle.third {
		float: right;
		margin-right: 3%;
		margin-left: 0;
	}
	.in-right input[type="submit"] {
		font-size: 15px;
		padding: 9px 0px;
		width: 48%;
	}
	p.lom {
		font-size: 0.95em;
		width: 100%;
	}
	.error-top h3 {
    font-size: 3.5em;
	}
	
	a.not {
		font-size: 0.3em;
		padding: 0.8em 1em;
		width: 23%;
		text-decoration: none;
	}
}
/*-- w3l-agile --*/
/*-- agileits --*/
@media (max-width:991px){
	.music-left {
		float: left;
		width: 100%;
	}
	.content-grid {
		width:22%;
		margin-right: 1%;
	}
	.content-grid.last-grid {
		margin-right: 1%;
	}
	.music-right {
		float: left;
		width: 65%;
		margin-left: 2%;
	}
	img#jp_poster_0 {
		width: 590px!important;
	}
	h4.tittle {
		margin-left: 48%;
	}
	.profile_details {
		padding: 0 1em;
	}
	.serch-part {
		float:right;
		width: 50%;
	}
	.player {
		float: left;
		width: 50%;
	}
	#loginBox {
		top: 51px;
		right: 17px;
		position: absolute;
	}
	.next-top li a.ar2 {
		left: 22%;
		position: absolute;
		top: -22px;
	}
	.next-top li a.ar {
    left: 6%;
    position: absolute;
    top: -22px;
	}
	.toggle-btn {
    font-size: 17px;
    padding: 9px 0 0;
    width: 40px;
    height: 42px;
       margin: 0.8em 0 0 1.5em;
	}
	.response {
		float: right;
		width: 100%;
	}
	.single_left {
		float: left;
		    width: 81%;
		margin-right: 0;
		margin-bottom: 4%;
	}
	.footer {
		padding: 3em 3em 5em 5em;
	}
	.sb-search {
		position: absolute;
		right: 59px;
	}
	.artist_nav {
		float: left;
		margin-left: 0;
	}
	a.art {
		font-size: 0.9em;
		padding: 12px 0;
	}
	a.sing {
		font-size: 1em;
		padding-top: 9px;
	}
	.content-grid:hover .inner-info {
		padding: 3px 10px;
		width: 140px;
	}
	h4.tittle.two {
		margin-left: 56%;
	}
	.contact-right {
		float: right;
		width: 100%;
		padding: 1em 0em;
	}
	.contact-left {
		float: left;
		width: 100%;
	}
	.contact-left1 {
		float: left;
		width: 100%;
		padding: 0em 0em 2em 0;
	}
	.contact-right1 {
		float: right;
		width: 100%;
		padding: 2em 2em;
	}
	.login-pop {
		width: 35%;
		margin-top: 0.9em;
		float: right;
	}
	img#jp_poster_0 {
		width: 534px!important;
	}
	a.trend {
		top: -75%;
		padding: 8px 13px;
	}
}
/*-- w3l-agile --*/
/*-- agileits --*/
@media (max-width:991px){
	.music-right {
		float: left;
		width: 80%;
		margin-left: 2%;
		margin-top: 3%;
	}
	.modal-dialog.facebook {
		width: 650px;
		margin: 70px auto;
	}
	.footer-grid {
		float: left;
		width: 100%;
		margin-right: 3%;
	}
	.next-top li a.ar2 {
		left: 24%;
		position: absolute;
		top: -22px;
	}
	.next-top li a.ar {
		left: 6%;
		position: absolute;
		top: -22px;
	}
	.toggle-btn {
		font-size: 17px;
		padding: 9px 0 0;
		margin: 0.8em 0 0 1.5em;
	}
	a.not {
		font-size:0.3em;
		padding: 0.8em 1em;
		width: 31%;
		text-decoration: none;
	}
	.coment-form input[type="submit"] {
		padding: 1em 0;
		width: 38%;
		margin-top: .5em;
		font-size: 15px;
	}
	.coment-form input[type="text"], .coment-form input[type="email"] {
		margin-bottom: 5px;
		font-size: 15px;
		padding: 13px 15px;
		width: 100%;
	}
	.coment-form textarea {
    width: 100%;
    display: block;
    height: 150px;
	}
	.sb-search {
		position: absolute;
		right: 59px;
	}
	a.sing {
		font-size: 1em;
		padding-top: 9px;
	}
	.footer {
		padding: 2em 3em 5em 4em;
	}
	.content-grid:hover .inner-info {
		padding: 3px 10px;
		width: 144px;
	}
}
@media (max-width:800px){
	.music-right {
		float: left;
		width: 80%;
		margin-left: 2%;
		margin-top: 3%;
	}
	.modal-dialog.facebook {
		width: 650px;
		margin: 70px auto;
	}
	.footer-grid {
		float: left;
		width: 100%;
		margin-right: 3%;
	}
	.next-top li a.ar2 {
		left: 24%;
		position: absolute;
		top: -22px;
	}
	.next-top li a.ar {
		left: 6%;
		position: absolute;
		top: -22px;
	}
	.toggle-btn {
		font-size: 17px;
		padding: 9px 0 0;
		margin: 0.8em 0 0 1.5em;
	}
	a.not {
		font-size:0.3em;
		padding: 0.8em 1em;
		width: 31%;
		text-decoration: none;
	}
	.coment-form input[type="submit"] {
		padding: 1em 0;
		width: 38%;
		margin-top: .5em;
		font-size: 15px;
	}
	.coment-form input[type="text"], .coment-form input[type="email"] {
		margin-bottom: 5px;
		font-size: 15px;
		padding: 13px 15px;
		width: 100%;
	}
	.coment-form textarea {
    width: 100%;
    display: block;
    height: 150px;
	}
	.sb-search {
		position: absolute;
		right: 59px;
	}
	a.sing {
		font-size: 1em;
		padding-top: 9px;
	}
	.footer {
		padding: 2em 3em 5em 4em;
	}
	.content-grid:hover .inner-info {
		padding: 3px 10px;
		width: 144px;
	}
	a.top-sign {
		display: inline-block;
		float: right;
		margin-left: 0.3em;
	}
	#loginForm:after {
		content: '';
		position: absolute;
		right: 41px;
		top: -13px;
	}
}
@media (max-width:768px){
	.music-left {
		float: left;
		width: 100%;
	}
	.content-grid {
		width: 25%;
		margin-right: 0%;
	}
	.content-grid.last-grid {
		margin-right:0%;
	}
	.music-right {
		float: left;
		width: 80%;
		margin-left: 2%;
		margin-top: 3%;
	}
	img#jp_poster_0 {
		width: 520px!important;
	}
	.footer {
		padding:2em 3em 5em 5em;
	}
	.mejs-controls .mejs-play button, .mejs-controls .mejs-pause button {
		left: 57px;
	}
	.content-grid:hover .inner-info {
		padding: 3px 10px;
		    width: 148px;
	}
	h4.tittle.two {
		margin-left: 56%;
	}
	.in-right input[type="submit"] {
		font-size: 15px;
		padding: 12px 0px;
		width:40%;
	}
	.login-pop {
		width: 36%;
		margin-top: 0.9em;
		float: right;
	}
	.button {
    margin: 10px 0 0 0;
    font-size: 0.9em
	}
}
@media (max-width:736px){
	.mejs-controls .mejs-time-rail .mejs-time-total, div#mep_0 {
		width: 136px !important;
		left: 109px!important;
	}
	.login-pop {
			width: 36%;
			margin-top: 0.9em;
			float: right;
	}
}
@media (max-width:667px){
	.in-left {
		float: left;
		width: 100%;
	}
	.in-right {
		float: right;
		width: 100%;
	}
	.in-right textarea {
		resize: none;
		min-height: 165px;
		margin: 0;
		margin-bottom: 2em;
	}
	.conntact-right1 h4 {
		font-size: 1.2em;
		padding: 0;
	}
	.contact-right1 {
		float: right;
		width: 100%;
		padding: 1em 1em;
	}
	.sign-left {
		float: left;
		width: 100%;
		margin-top: 0;
		margin-bottom: 3%;
	}
	.sign-right {
		float: left;
		width: 100%;
		margin-left: 0%;
	}
	.sign-grids p {
		font-size: 13px;
		margin: 25px 0;
		line-height: 1.8em;
	}
	.modal-dialog.facebook {
		width: 430px;
		margin: 130px auto;
	}
	.next-top li a.ar {
		left: 0%;
		position: absolute;
		top: -22px;
	}
	.mejs-controls .mejs-play button, .mejs-controls .mejs-pause button {
		left: 37px;
	}
	a.trend {
		top: -116%;
		padding: 8px 13px;
	}
	#loginpop a span {
     padding: 6px 8px;
	  font-size:0.8em;
	}
	.login-pop {
		width: 37%;
		margin-top: 0.9em;
		float: right;
	}
	.content-grid {
		width: 32.33%;
		margin-right: 1%;
	}
	h3.tittle {
		float: left;
		font-size: 1.6em;
	}
	h4.tittle.two {
		margin-left: 53%;
	}
	.music-right {
		float: left;
		width: 100%;
		margin-left: 2%;
		margin-top: 3%;
	}
	.footer {
		padding: 2em 3em 5em 5em;
	}
	.contact-right p.phn {
      font-size: 1.5em;
	}
	.contact-left1 h3 {
		font-size: 1.6em;
		margin: 0 0 1em 0em;
	}
	h3.h-t {
		font-size: 1.5em;
	}
	.artist-grid {
		width: 32.66%;
		float: left;
	}
	#primary_nav_wrap ul a {
    font-size: 15px;
    line-height: 32px;
    padding: 0 4px;
	}
	h4.tittle.third {
		float: right;
		margin-right: 3%;
		margin-left: 0;
		padding: 0;
		margin-bottom: 0;
	    margin-top: 0.5em;
	}
	.single_left {
		float: left;
		width: 100%;
		margin-right: 0;
		margin-bottom: 4%;
	}
	.browse-grid {
		width: 32.66%;
		float: left;
		margin-right: 0%;
		margin-bottom: 2%;
	}
	.modal-dialog.facebook {
		width: 566px;
		margin: 130px auto;
	}
	.callbacks_tabs {
		list-style: none;
		position: absolute;
		bottom: -22%;
	}
	.content-grid:hover .inner-info {
		padding: 3px 10px;
		width: 163px;
	}

}

@media (max-width:640px){
	.next-top li a.ar {
		left: 0%;
		position: absolute;
		top: -22px;
	}
	.footer {
		padding: 2em 3em 5em 5em;
	}
	.modal-info {
		width: 95%;
	}
	.contact-right1 h4 {
		font-size: 1.2em;
		padding: 0;
	}
	.container {
		margin: 0!important;
		padding: 0!important;
	}
	h4.tittle {
		margin-left: 45%;
	}
	h4.tittle.two {
		margin-left: 54%;
	}
	.content-grid:hover .inner-info {
		padding: 3px 10px;
		width: 154px;
	}
	.banner-info h3 {
		font-size: 1.5em;
		padding: 0;
	}
	.banner-info p {
		font-size: 1em;
		margin-top: 0;
		padding: 0;
		margin: 0;
	}
	a.not {
		font-size: 0.3em;
		padding: 0.8em 1em;
		width: 35%;
		text-decoration: none;
	}
}
@media (max-width:600px){
	.artist-grid {
		width: 50%;
		float: left;
	}
	h3.h-t {
		font-size: 1.4em;
		line-height: 1.7em;
	}
	.blog-text {
		padding: 1em 1em;
	}
	h6.blg {
		color: #444;
		float: none;
		font-size: 1em;
	}
	.content-grid {
		width: 49.5%;
		margin-right: 0%;
	}
	h4.tittle {
		margin-left: 41%;
	}
	img#jp_poster_0 {
		width: 478px!important;
	}
	i.glyphicon.glyphicon-play-circle {
		position: absolute;
		top: 30%;
		left: 34%;
		color: #fff;
		font-size: 2.5em;
	}
	.footer {
		padding: 2em 3em 5em 2em;
	}
	.modal-info {
		width:87%;
	}
	.app-image {
    padding: 0;
		margin-top: 1em;
	}
}
@media (max-width: 568px){
	.artist-grid {
		width: 50%;
		float: left;
		padding: 0 5px;
		margin-bottom: 4%;
	}
	.footer {
		padding: 2em 3em 5em 4em;
	}
	.icons {
		float: none;
	}
	.blog-pagenat ul li a {
		display: block;
		padding: 8px 15px;
		font-size: 0.9em;
	}
	.browse-grid {
		width: 50%;
		float: left;
		margin-right: 0%;
		margin-bottom: 2%;
		padding: 0 5px;
	}
	.modal-dialog.facebook {
		width: 379px;
		margin: 130px auto;
	}
	.player {
		width: 50%;
		margin-top: 46px;
	}
	.sb-search {
		position: absolute;
		right: 147px;
		top: 8px;
		min-width: 50px;
		height: 50px;
	}
	.serch-part {
		float: left;
		width: 83%;
	}
	.sb-search-input {
    height: 50px;
	}
	.sb-icon-search {
		background: #111 url('../images/search.png') no-repeat 14px 14px;
		z-index: 90;
		width: 60px;
		height: 50px;
	}
	.sb-icon-search {
		background: #111 url('../images/search.png') no-repeat 14px 14px;
		z-index: 90;
		width: 50px;
		height: 50px;
	}
	.sb-search-submit {
		background: url('../images/search.png') no-repeat -6px 14px;
	}
	.sb-search.sb-search-open .sb-icon-search, .no-js .sb-search .sb-icon-search {
		background: url('../images/search.png') no-repeat 14px 14px;
		color: #fff;
		z-index: 11;
	}
	.sb-search.sb-search-open, .no-js .sb-search {
		width: 60%;
	}
	.in-right input[type="submit"] {
		font-size: 15px;
		padding: 12px 0px;
		width: 36%;
	}
	.callbacks_tabs {
		list-style: none;
		position: absolute;
		bottom: -29%;
	}
	a.trend {
		top: -93%;
		padding: 8px 13px;
		font-size: 0.85em;
	}
		.login-pop {
		width: 34%;
		margin-top: 0.9em;
		float: right;
		padding:0;
		margin-left:0;
	}
	.pricing {
		float: left;
		width: 100%;
		text-align: center;
		margin-left: 0;
		    margin-bottom: 2em;
	}
	.albums.second {
		padding: 1em 0 0 0;
	}
	h4.tittle {
		margin-left: 39%;
	}
	h4.tittle.two {
		margin-left: 47%;
	}
	.nav-tabs > li {
		float: none;
		margin-bottom: -1px;
	}
	.modal-dialog {
		width: 573px;
		    margin: 30px auto;
	}
	.modal-info {
		width: 77%;
	}
	.left-side-collapsed .custom-nav {
		margin: 52px 0 20px 0;
	}
	.app-left h3 {
		font-size: 20px;
		line-height: 1.9em;
		margin: 1px 0 0px 0;
	}
	.app-left p {
		font-size: 1em;
		line-height: 1.6em;
	}
	.app-devices {
		width: 100%;
		margin: 4px 0 0 0;
	}
	.modal-dialog.facebook {
		    width: 423px;
		margin: 30px auto;
	}
	.modal-body {
		position: relative;
		padding: 0;
	}
	#loginpop a span {
		padding: 8px 7px;
		font-size: 0.7em;
	}
	a.top-sign {
		margin-left: 0.5em;
		margin-top: 0.2em;
		font-size: 1.2em;
	}
	#loginpop a span {
		padding: 7px 7px;
		font-size: 0.7em;
	}
}
@media (max-width:480px){
	#loginpop a span {
		padding: 7px 7px;
		font-size: 0.7em;
	}
	
	a.top-sign {
		margin-left: 0.2em;
		margin-top: 0.2em;
		font-size: 1.2em;
	}
	.modal-dialog.facebook {
		    width: 423px;
	}
	.content-grid:hover .inner-info {
		padding: 3px 10px;
		width: 181px;
	}
	img#jp_poster_0 {
		width: 363px!important;
	}
	.in-left input[type="text"], .in-right textarea {
		font-size: 12px;
		padding: 10px 10px;
	}
	.player {
		float: left;
		width: 50%;
		margin-top: 46px;
		padding: 0;
	}
	.login-pop {
		width: 34%;
		margin-top: 0.9em;
		float: right;
	}
	div#page-wrapper {
		padding: 5em 1em 2em 1em;
	}
	footer p {
		font-size: 0.9em;
	}
	h4.tittle {
		margin-left: 28%;
	}
	h4.tittle.two {
		margin-left: 40%;
	}
	.error-top h3 {
    font-size: 2em;
	}
	a.not {
		font-size: 0.5em;
		padding: 0.8em 1em;
		width: 59%;
		text-decoration: none;
	}
	.footer {
		    padding: 2em 2em 5em 4em;
	}
	.left-side-collapsed .custom-nav {
		margin: 52px 0 20px 0;
	}
}
@media (max-width:414px){
		h4.tittle {
			margin-left: 14%;
		}
		footer p {
			font-size: 0.9em;
		}
		.banner-info h3 {
			font-size: 1.2em;
			padding: 0;
		}
		a.trend {
			top: -122%;
			padding: 6px 13px;
			font-size: 0.85em;
		}
		.banner-info {
			top: 54%;
			z-index: 999;
			left: 5%;
		}
		.content-grid {
			width: 50%;
			margin-right: 0%;
		}
		h4.tittle.two {
			margin-left: 30%;
		}
		.content-grid:hover .inner-info {
			padding: 3px 10px;
			width: 150px;
		}
		img#jp_poster_0 {
		width: 331px!important;
	}
	.content-grid {
		width: 50%;
		margin-right: 0%;
		padding: 0 5px;
	}
	.contact-left iframe {
		width: 100%;
		height: 244px;	
		border: none;
	}
	.error-top img {
		width: 74%;
	}
	.error-top h3 {
		font-size: 1.7em;
	}
	.error-top {
		margin: 0 auto;
		text-align: center;
		padding: 1em 0;
	}
	.modal-dialog.facebook {
	    width: 357px;
	}
	.app-grids {
		padding: 0em 0.5em;
	}
	.artist-grid {
		width: 100%;
		float: left;
		padding: 0 0px;
		margin-bottom: 4%;
	}
	.coment-form h4 {
		font-size: 1.4em;
		margin-bottom: 0.5em;
	}
	.modal-body.modal-spa {
		padding: 1em 1em;
	}
}
@media (max-width:384px){
	footer p {
		font-size: 0.9em;
		padding-left: 2em;
	}
	.login-pop {
		width: 32%;
		margin-top: 0.9em;
		float: left;
		padding: 0;
		margin-left: 0;
	}
	mg#jp_poster_0 {
		width: 290px!important;
	}
	span.new {
    display: inline-block;
    padding: 6px 10px;
    font-size: 0.5em;
	}
	h4.tittle {
		margin-left: 20%;
		font-size: 1em;
	}
	.button {
		margin: 10px 0 0 0;
		font-size: 0.85em;
	}
	.callbacks_tabs {
		    bottom: -34%;
		right: 0%;
		padding: 0;
		margin: 0;
		padding: 1px 7px 4px 0px;
		line-height: 20px;
	}
	.callbacks_tabs a:after {
		width: 11px;
		height: 11px;
	}
	.banner-info h3 {
      font-size: 1em;
	}
	.banner-info p {
		font-size: 0.9em;
		margin-top: 0;
	}
	.player {
		float: left;
		width: 45%;
		margin-top: 46px;
		padding: 0;
	}
	.next-top li a.ar2 {
		left: 33%;
		position: absolute;
		top: -22px;
	}
	h4.tittle {
		margin-left: 14%;
		font-size: 1em;
		margin-top: 2%;
	}
	h4.tittle.two {
		margin-left: 25%;
	}
	h4.tittle.third {
		float: right;
		margin-right: 2%;
		margin-left: 0;
		padding: 0;
		margin-bottom: 0;
		margin-top: 4%;
	}
	h3.hd-tittle {
		font-size: 1.3em;
		margin-bottom: 0.5em;
	}
	a.price {
		font-size: .8em;
		padding: .6em 1em;
		width: 53%;
		margin: 0.3em auto 0.3em;
	}
	.content-grid:hover .inner-info {
		padding: 3px 10px;
		width: 140px;
	}
	img#jp_poster_0 {
		width: 294px!important;
	}
	a.price {
		font-size: .8em;
		padding: .6em 1em;
		width: 44%;
		margin: 0.3em auto 0.3em;
	}
	i.glyphicon.glyphicon-play-circle {
		position: absolute;
		top: 30%;
		left: 40%;
		font-size: 2em;
	}
	#primary_nav_wrap ul ul {
		top: 100%;
		left: -13px;
		z-index: 9999;
		width: 131px;
	}
	a.art {
		font-size: 0.82em;
		padding: 9px 0;
	}
	.contact-right p.phn {
		font-size: 1.3em;
	}
	p.phn-bottom {
		font-size: 1.1em;
		margin: 0 0 1em;
	}
	p.lom {
    font-size: 0.9em;
	}
	.contact-left1 h3 {
		font-size: 1.4em;
		margin: 0 0 1em 0em;
	}
	.in-right input[type="submit"] {
		font-size: 14px;
		padding: 9px 0px;
		width: 39%;
	}
	.in-left input[type="text"], .in-right textarea {
		font-size: 12px;
		padding: 10px 10px;
		
	}
	.in-right textarea {
	min-height: 127px;
	}
	.contact-right1 h3 {
		font-size: 1.4em;
		padding: 3px 0;
	}
	.contact-right1 h4 {
		font-size: 0.95em;
		padding: 0;
	}
	.contact-right1 p {
		width: 100%;
		font-size: 0.9em;
	}
	.nbs-flexisel-item {
		width: 156px!important;
		margin: 0px 6px! important;
	}
	.slide-title h4{
	  font-size:1em;
	}
	h3.h-t {
		font-size: 1.2em;
		line-height: 1.7em;
		padding: 0;
	}
	.entry-meta p {
		font-size: 0.9em;
		margin: 6px 0;
	}
	h6.blg i, .icons i {
		font-size: 1.3em;
		margin: 0 0.1em;
	}
	.blog-pagenat ul li a {
		display: block;
		padding: 8px 12px;
		font-size: 0.8em;
	}
	.blog-pagenat {
		margin: 1em 0 1em 0;
	}
	.widget-side ul li a {
      font-size: 1em;
	}
	h4.widget-title {
    font-size: 1.4em;
	}
	.widget-side ul li .post-date {
		font-size: 12px;
		line-height: 22px;
	}
	a.sing {
		font-size: 0.88em;
		padding-top: 9px;
	}
	.modal-dialog.facebook {
		width: 332px;
	}
	div#page-wrapper {
		padding: 5em 0.5em 2em 0.5em;
	}
	.music-right {
		float: left;
		width: 100%;
		margin-left: 0;
		margin-top: 3%;
		margin-right: 5%;
	}
	.modal-info {
		width:55%;
	}
}
@media (max-width:375px){
	.content-grid:hover .inner-info {
    padding: 3px 10px;
    width: 143px;
}
	.next-top li a.ar2 {
		left: 28%;
		position: absolute;
		top: -22px;
	}
	.blog-text {
		padding: 0.5em 0.5em;
	}
	h4.tittle {
		margin-left: 11%;
		font-size: 1em;
	}
	.footer {
		padding: 2em 3em 5em 4em;
	}
	.footer.two {
		padding: 1em 3em 5em 1em;
	}
	#loginForm {
		width: 240px;
		background: #fff;
		border: 1px solid #d6d6d6;
		height: 250px;
	}
	#loginForm #login {
		font-size: 0.8725em;
		padding: 7px 14px;
	}
	.jp-video .jp-type-playlist .jp-controls {
		width: 134px;
		margin-left: 85px!important;
	}
	.response-text-right p {
    font-size: 0.85em;
    margin: 0 0 1em;
    line-height: 2em;
    color: #444;
    padding: 0em 1em;
    padding: 0;
	}
	.media-left, .media>.pull-left {
		padding-right: 5px;
	}
	.left-side-collapsed .custom-nav {
		margin: 55px 0 20px 0;
	}
	i.glyphicon.glyphicon-play-circle {
		position: absolute;
		top: 42%;
		left: 49%;
		font-size: 2em;
	}
	.left-side-collapsed .custom-nav li a {
		text-align: center;
		padding:7px;
		position: relative;
	}
	.left-side-collapsed .custom-nav li a i {
		margin-right: 0;
		font-size: 1em;
	}
	.nav>li>a {
		position: relative;
		display: block;
		padding: 9px 15px;
		font-size: 0.9em;
	}
	.modal-info {
		width: 49%;
	}
	.toggle-btn {
    font-size: 17px;
    padding:7px 0 0;
    width: 37px;
    height: 38px;
	}
	.header-section {
		padding-bottom: 0px;
	}
}
@media (max-width:320px){
	.toggle-btn {
    font-size: 17px;
    margin: 0.5em 0 0 0.5em;
}
	.modal-dialog.facebook {
		width: 332px;
	}
	a.trend {
		top: -89%;
		padding: 6px 7px;
		font-size: 0.75em;
	}
	.banner-info h3 {
		font-size: 1em;
		margin: 2px 0 2px 0;
	}
	h3.tittle {
		float: left;
		font-size: 1.3em;
	}
	h4.tittle {
		margin-left: 6%;
		font-size: 1em;
	}
	.button {
		margin: 10px 0 8px 0;
		font-size: 0.8em;
	}
	h4.tittle.two {
		margin-left: 22%;
	}
	.content-grid:hover .inner-info {
		padding: 0px 10px;
    width: 116px;
    font-size: 0.8em;
	}
	img#jp_poster_0 {
		width: 237px!important;
	}
	.login-pop {
		width: 29%;
		margin-top: 0.6em;
		float: left;
		padding: 0;
		margin-left: -13px;
	}
	h3.hd-tittle {
		font-size: 1.15em;
		margin-bottom: 0.5em;
	}
	.banner-button {
		float: left;
		width: 41.8%;
	}
	.sb-search-input {
		height:45px;
	}
	.sb-icon-search {
		background: #111 url('../images/search.png') no-repeat 14px 12px;
		z-index: 90;
		width: 50px;
		height:45px;
	}
	.sb-icon-search {
		background: #111 url('../images/search.png') no-repeat 14px 12px;
		z-index: 90;
		width: 50px;
		height:45px;
	}
	.sb-search-submit {
		background: url('../images/search.png') no-repeat -6px 12px;
	}
	.sb-search.sb-search-open .sb-icon-search, .no-js .sb-search .sb-icon-search {
		background: url('../images/search.png') no-repeat 14px 12px;
		color: #fff;
		z-index: 11;
	}
	.sb-search {
		position: absolute;
		right: 133px;
		    top: 10px;
		min-width: 50px;
		height: 45px;
	}
	.blog-pagenat ul li a {
		display: block;
		padding: 8px 7px;
		font-size: 0.8em;
	}
	
	.next-top li a.ar2 {
		left: 36%;
		position: absolute;
		top: -22px;
	}
	h3.h-t {
		font-size: 1.1em;
		line-height: 1.7em;
		padding: 0;
	}
	a.sing {
		font-size: 0.8em;
		padding-top: 9px;
	}
	.coment-form input[type="submit"] {
		padding: 0.8em 0;
		width: 69%;
		margin-top: .5em;
		font-size: 14px;
	}
	.sb-search-input {
		padding: 0em 3em 0em 1em;
	}
	.left-side-collapsed .custom-nav li a {
		text-align: center;
		padding:6px;
		position: relative;
	}
	.footer {
		padding: 1em 3em 5em 4em;
	}
	.footer.two {
		padding: 1em 3em 5em 1em;
	}
	.modal-dialog.facebook {
		width:275px;
	}
	#loginForm:after {
    content: '';
    position: absolute;
    right: 32px;
    top: -13px;
	}
}
/***responsive***/
body {font-family: Arial, Helvetica, sans-serif;}

/* The Modal (background) */
.modala {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 100; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modala-content {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 0;
  border: 1px solid #888;
  width: 30%;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 0.4s
}

/* Add Animation */
@-webkit-keyframes animatetop {
  from {top:-300px; opacity:0} 
  to {top:0; opacity:1}
}

@keyframes animatetop {
  from {top:-300px; opacity:0}
  to {top:0; opacity:1}
}

/* The Close Button */
#close {
  color: black;
  float: right;
  font-size: 20px;
  font-weight: bold;
}

#close:hover,
#close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.modala-header {
  text-align: left!important;
  margin:10px;
  padding: 0px;
  background-color: #fff;
  color: black;
}

.modala-body {
  border:#dbdbdb solid 1px;
  background-color: #f1f1f1;
  margin:10px;
  padding: 2px 2px;
}

.modala-body a{
  text-decoration: none;
  color: black;
  width:100%;
}

.modala-body div:hover{
  color: white;
  background-color: #2daaed;
  cursor: pointer;
}


.modala-footer {
  text-align: center!important;
  margin: 10px;
  padding: 2px 0px;
  background-color: #fff;
  border:none!important;
  color: white;
}